In [1]:
import pandas as pd

In [147]:
# 데이터셋 불러오기

In [101]:
df1 = pd.read_csv('LPOINT 1번 data.csv')
df2 = pd.read_csv('LPOINT 2번 data.csv')
df3 = pd.read_csv('LPOINT 3번 data.csv')
df4 = pd.read_csv('LPOINT 4번 data.csv')
df5 = pd.read_csv('LPOINT 5번 data.csv')
df6 = pd.read_csv('LPOINT 6번 data.csv')

/var/folders/q9/51yx3nc91mq6crjc81y6g1wm0000gn/T/ipykernel_1332/3567992946.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('LPOINT 2번 data.csv')

In [149]:
# 1번 - 고객 정보 데이터
# 2번 - 유통사 상품 구매 정보 데이터
# 3번 - 제휴사 서비스 이용 정보(유통사X)
# 4번 - 상품 분류 정보(유통사 상품 카테고리)
# 5번 - 점포 정보(유통사/제휴사 점포 정보)
# 6번 - 엘페이 이용내역(엘페이 결제내역)

- *B01:숙박업종
- *C01~2: 엔터테인먼트
- *D01~2: F&B
- *E01: 렌탈 업종

In [150]:
df3['cop_c'].value_counts()

cop_c
D01    112232
C01     48323
D02     43134
C02     30258
B01      8103
E01      6254
Name: count, dtype: int64

- *B01:숙박업종
- *C01~2: 엔터테인먼트
- *D01~2: F&B
- *E01: 렌탈 업종

In [6]:
cond1 = df3['cop_c']=='D01'
cond2 = df3['cop_c']=='D02'

len(df3.loc[cond1|cond2]['br_c'].unique())

1827

In [7]:
df3

,cust,rct_no,cop_c,br_c,chnl_dv,de_dt,vst_dt,de_hr,buy_am
0,M839993508,21102612B015763935,B01,B010012,1,20211026,20211026,12,60000
1,M839993508,21110610B014219744,B01,B010012,1,20211106,20211106,10,17100
2,M839993508,21021112B013419710,B01,B010012,1,20210211,20210211,12,136500
3,M839993508,21092010B012637545,B01,B010012,1,20210920,20210920,10,34200
4,M839993508,21101009D015920171,D01,D010614,1,20211010,20211010,9,2500
...,...,...,...,...,...,...,...,...,...
248299,M058650684,21111614C021426818,C02,C020002,1,20211116,20211116,14,2000
248300,M058650684,21111619C023223432,C02,C020002,1,20211116,20211116,19,26900
248301,M014154595,21121209C015324520,C01,C010087,2,20211212,20211212,9,2000
248302,M510878172,21112719C013369102,C01,C010007,2,20211127,20211127,19,6000
248303,M761634870,21122419C013829696,C01,C010014,2,20211224,20211225,19,28000

In [8]:
cond1 = df3['cop_c']=='B01'

len(df3.loc[cond1]['br_c'].unique())

20

In [9]:
cond1 = df3['cop_c']=='C01'
cond2 = df3['cop_c']=='C02'

len(df3.loc[cond1|cond2]['br_c'].unique())

144

In [10]:
cond1 = df3['cop_c']=='E01'

len(df3.loc[cond1]['br_c'].unique())

39

In [11]:
df3

,cust,rct_no,cop_c,br_c,chnl_dv,de_dt,vst_dt,de_hr,buy_am
0,M839993508,21102612B015763935,B01,B010012,1,20211026,20211026,12,60000
1,M839993508,21110610B014219744,B01,B010012,1,20211106,20211106,10,17100
2,M839993508,21021112B013419710,B01,B010012,1,20210211,20210211,12,136500
3,M839993508,21092010B012637545,B01,B010012,1,20210920,20210920,10,34200
4,M839993508,21101009D015920171,D01,D010614,1,20211010,20211010,9,2500
...,...,...,...,...,...,...,...,...,...
248299,M058650684,21111614C021426818,C02,C020002,1,20211116,20211116,14,2000
248300,M058650684,21111619C023223432,C02,C020002,1,20211116,20211116,19,26900
248301,M014154595,21121209C015324520,C01,C010087,2,20211212,20211212,9,2000
248302,M510878172,21112719C013369102,C01,C010007,2,20211127,20211127,19,6000
248303,M761634870,21122419C013829696,C01,C010014,2,20211224,20211225,19,28000

In [12]:
#엘페이 이용 내역
df6

              cust           rct_no cop_c  chnl_dv     de_dt  de_hr  buy_am
0       M629656521  210803210311226   A03        1  20210803     21   10900
1       M216016456  210803130167542   L01        2  20210803     13    6860
2       M205142844  210803140275112   A02        1  20210803     14    9000
3       M737010483  210803040637594   A06        2  20210803      4   36740
4       M707775545  210803140675502   A06        2  20210803     14  138500
...            ...              ...   ...      ...       ...    ...     ...
353179  M470112503  210125110644545   A06        2  20210125     11   51800
353180  M470112503  210104210652271   A06        2  20210104     21    6440
353181  M748878049  210119200278240   A02        1  20210119     20   17600
353182  M748878049  210119180267206   A02        1  20210119     18   12400
353183  M748878049  210119150154756   C01        2  20210119     15    5000

[353184 rows x 7 columns]

In [13]:
df2

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1
1,M646853852,A01000002265,1,A01,A010025,PD1369,20210101,10,79700.0,1
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
3,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
4,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1
...,...,...,...,...,...,...,...,...,...,...
4381738,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381739,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381740,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381741,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381742,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1

In [ ]:
df_total[df_total['cop_c_x']=='A01']['clac_mcls_nm'].value_counts().head(15)
# A01 : 롯데백화점
# A02 : 롯데마트
# A03 : 롯데슈퍼
# A04 : 세븐일레븐
# A05 : 하이마트
# A06 : 롯데 ON

In [ ]:
df_total['cop_c_x']

In [ ]:
mapping = {
    'A01': '롯데백화점',
    'A02': '롯데마트',
    'A03': '롯데슈퍼',
    'A04': '세븐일레븐',
    'A05': '하이마트',
    'A06': '롯데 ON'
}

# 'cop_c_x' 컬럼 값 변경
df_total['cop_c_x'] = df_total['cop_c_x'].map(mapping)

In [ ]:
df_total = df_total.drop(columns=['cop_c_y'])

In [ ]:
df_total.to_csv('df_total2.csv')

In [ ]:
p1 = pd.merge(df4, df2, on='pd_c', how='left')

In [ ]:
len(p1['pd_c'].unique())

In [ ]:
len(df4['pd_c'].unique())

In [ ]:
p1

In [ ]:
p1_first_row = p1.groupby('pd_c').first().reset_index()

In [ ]:
p1_first_row.

In [ ]:
mapping = {
    'A01': '롯데백화점',
    'A02': '롯데마트',
    'A03': '롯데슈퍼',
    'A04': '세븐일레븐',
    'A05': '하이마트',
    'A06': '롯데 ON'
}

# 'cop_c_x' 컬럼 값 변경
p1_first_row['cop_c'] = p1_first_row['cop_c'].map(mapping)

In [ ]:
p1_first_row[['pd_c','pd_nm','clac_hlv_nm','clac_mcls_nm','cop_c']].to_excel('pd_nm_fistrow.xlsx')

----

In [ ]:
df_depart = df_total[df_total['cop_c_x']=='롯데백화점']

In [ ]:
df_depart_first = df_depart.groupby('pd_c').first().reset_index()

In [ ]:
len(df_depart_first['pd_c'].unique())

In [ ]:
df_mart = df_total[df_total['cop_c_x']=='롯데마트']
df_mart_first = df_mart.groupby('pd_c').first().reset_index()

In [ ]:
df_super = df_total[df_total['cop_c_x']=='롯데슈퍼']
df_super_first = df_super.groupby('pd_c').first().reset_index()

In [ ]:
df_seven = df_total[df_total['cop_c_x']=='세븐일레븐']
df_seven_first = df_seven.groupby('pd_c').first().reset_index()

In [ ]:
df_himart = df_total[df_total['cop_c_x']=='하이마트']
df_himart_first = df_himart.groupby('pd_c').first().reset_index()

In [ ]:
df_lotteon = df_total[df_total['cop_c_x']=='롯데 ON']
df_lotteon_first = df_lotteon.groupby('pd_c').first().reset_index()

In [ ]:
df_depart_first.to_excel('df_depart_first.xlsx')
df_mart_first.to_excel('df_mart_first.xlsx')
df_super_first.to_excel('df_super_first.xlsx')
df_seven_first.to_excel('df_seven_first.xlsx')
df_himart_first.to_excel('df_himart_first.xlsx')
df_lotteon_first.to_excel('df_lotteon_first.xlsx')

In [ ]:
df_depart[df_depart['pd_nm']=='남성패딩']['buy_am'].unique()

In [ ]:
df_mart[df_mart['pd_nm']=='녹즙기/원액기']

In [ ]:
# df_total[df_total['pd_nm']=='']

-----

1차분류

In [ ]:
df2

In [ ]:
df_pdnm = pd.read_excel('pd_nm_fistrow_1.xlsx')

In [ ]:
df_pdnm

In [ ]:
pd_nm_log = pd.merge(df2, df_pdnm, on='pd_c', how='inner')

In [ ]:
pd_nm_log.to_csv('pd_nm_log.csv')

### 지역추정

In [ ]:
df1['zon_hlv'].value_counts()

### 추정한 지역 연결

In [ ]:
mapping = {
    'Z01': '경상남도',
    'Z02': '제주도',
    'Z03': '충청남도',
    'Z04': '대구',
    'Z05': '전라남도',
    'Z06': '광주',
    'Z07': '세종',
    'Z08': '충청북도',
    'Z09': '전라북도',
    'Z10': '경기도',
    'Z11': '인천',
    'Z12': '강원도',
    'Z13': '울산',
    'Z14': '대전',
    'Z15': '경상북도',
    'Z16': '부산',
    'Z17': '서울',
}

In [ ]:
df1['지역'] = df1['zon_hlv'].map(mapping)

In [ ]:
df1_new = df1.rename(columns={'ma_fem_dv':'성별', 'ages':'연령대',
                            'zon_hlv':'지역코드', 'cust':'고객번호'})

In [ ]:
df2_new = df2.rename(columns={'cust':'고객번호', 'rct_no':'영수증번호',
                   'chnl_dv':'채널', 'cop_c':'유통사','pd_c':'상품코드',
                   'de_dt':'구매일','de_hr':'구매시각','buy_am':'구매가격',
                   'buy_ct':'구매수량','br_c':'점포코드'})

In [ ]:
mapping = {
    'A01': '롯데백화점',
    'A02': '롯데마트',
    'A03': '롯데슈퍼',
    'A04': '세븐일레븐',
    'A05': '하이마트',
    'A06': '롯데 ON'
}

df2_new['유통사'] = df2_new['유통사'].map(mapping)

In [ ]:
df3_new = df3.rename(columns={'cust':'고객번호', 'rct_no':'영수증번호',
                   'chnl_dv':'채널', 'cop_c':'제휴사','br_c':'점포코드',
                   'de_dt':'이용일자','vst_dt':'방문일자',
                   'de_hr':'이용시간', 'buy_am':'이용금액'})

In [ ]:
df4_new = df4.rename(columns={'pd_c':'상품코드', 'pd_nm':'상품명',
                   'clac_hlv_nm':'대분류명', 'clac_mcls_nm':'중분류명'})

#### 필터링한 애들로만 연결

In [ ]:
df_pdnm = df_pdnm.rename(columns={'pd_c':'상품코드', 'pd_nm':'상품명',
                       'clac_hlv_nm':'대분류명', 'clac_mcls_nm':'중분류명'})

In [ ]:
df2_df4_filtered = pd.merge(df2_new, df_pdnm, on='상품코드', how='inner')

In [ ]:
df2_df4_filtered

In [ ]:
df1_new

In [ ]:
pd_nm_log2 = pd.merge(df1_new, df2_df4_filtered, on='고객번호', how='inner')

In [ ]:
pd_nm_log2 = pd_nm_log2.drop(columns='지역코드')

In [ ]:
pd_nm_log2.to_csv('pd_nm_log2.csv')

In [ ]:
len(pd_nm_log)

In [ ]:
len(pd_nm_log2)

In [ ]:
pd_nm_log2['지역'].value_counts()

### 전체 로그 연결

In [ ]:
df2_df4_filtered2 = pd.merge(df2_new, df4_new, on='상품코드', how='inner')

In [ ]:
total_log_new = pd.merge(df1_new, df2_df4_filtered2, on='고객번호', how='inner')

In [ ]:
total_log_new['지역'].value_counts()

In [ ]:
# 회원은 서울이 더 많은데 왜 경기도가 로그가 더 많쥐

In [ ]:
df5 = df5.rename(columns={'cop_c':'제휴사','br_c':'점포코드',
          'zon_hlv':'지역','zon_mcls':'지역중분류코드'})

In [ ]:
df5 = df5.rename(columns={'cop_c':'제휴사','br_c':'점포코드',
          '지역코드':'지역','zon_mcls':'지역중분류코드'})

In [ ]:
mapping = {
    'Z01': '경상남도',
    'Z02': '제주도',
    'Z03': '충청남도',
    'Z04': '대구',
    'Z05': '전라남도',
    'Z06': '광주',
    'Z07': '세종',
    'Z08': '충청북도',
    'Z09': '전라북도',
    'Z10': '경기도',
    'Z11': '인천',
    'Z12': '강원도',
    'Z13': '울산',
    'Z14': '대전',
    'Z15': '경상북도',
    'Z16': '부산',
    'Z17': '서울',
}

In [ ]:
df5['지역'] = df5['지역'].map(mapping)

In [ ]:
df5['지역'].value_counts()

In [ ]:
df5['제휴사'].unique()

In [ ]:
cond1 = df5['제휴사']=='A01'
cond1 = df5['제휴사']=='A01'
cond1 = df5['제휴사']=='A01'
cond1 = df5['제휴사']=='A01'
cond1 = df5['제휴사']=='A01'
cond1 = df5['제휴사']=='A01'

In [ ]:
len(df_total)

In [ ]:
len(df_total[df_total['clac_hlv_nm'].str.contains('의류')])

In [ ]:
len(df_total[df_total['clac_hlv_nm'].str.contains('가구')])

In [ ]:
pd_nm_log2[pd_nm_log2['대분류명'].str.contains('의류')]['상품명'].value_counts()

In [ ]:
pd_nm_log2[pd_nm_log2['대분류명'].str.contains('가구')]['상품명'].value_counts()

In [ ]:
len(pd_nm_log2[pd_nm_log2['대분류명'].str.contains('의류')])

In [ ]:
len(pd_nm_log2[pd_nm_log2['대분류명'].str.contains('가구')])

In [ ]:
len(pd_nm_log2)

# 0429

In [20]:
df1 = pd.read_csv('pd_nm_log2.csv')

In [23]:
df1['연령대'].value_counts()

연령대
40대    1509529
30대     799855
50대     756702
60대     221270
20대     193109
70대      74878
Name: count, dtype: int64

In [28]:
df1['상품명'].value_counts()

상품명
일반스낵       95092
일반우유       80265
국물봉지라면     61778
감자스낵       56699
두부류        54862
           ...
아이스크림믹스        1
업소용냉장고         1
곡물선물세트         1
행커치프           1
보이스레코더         1
Name: count, Length: 1116, dtype: int64

In [30]:
df1['상품명'].value_counts().head(30)

상품명
일반스낵       95092
일반우유       80265
국물봉지라면     61778
감자스낵       56699
두부류        54862
일반계란       52154
국물용기라면     48168
국산맥주       46616
바나나        40094
떠먹는요구르트    39968
쿠키         38883
생수         38720
수입맥주       38696
옥수수스낵      37468
일반소주       37179
가공우유       36019
일반요구르트     34650
어묵         32279
마시는요구르트    32001
커피음료       31522
일반빵        30675
샐러드류       29227
치즈         28685
소시지        28663
크래커        28566
젤리         27864
콜라         26124
기능성우유      25174
콩나물        24503
비빔봉지라면     24139
Name: count, dtype: int64

In [31]:
df1['연령대'].value_counts()

연령대
40대    1509529
30대     799855
50대     756702
60대     221270
20대     193109
70대      74878
Name: count, dtype: int64

In [41]:
df1[df1['상품명']=='레드와인']['구매가격'].value_counts().head(10)

구매가격
9900.0     758
3900.0     682
10900.0    587
14900.0    538
6900.0     437
12900.0    401
4900.0     340
4800.0     318
20000.0    313
11900.0    289
Name: count, dtype: int64

In [45]:
cond1 = df1['상품명']=='레드와인'
cond2 = df1['구매가격'] < 15000

df1_1 = df1[cond1&cond2]

In [46]:
df1_1['연령대'].value_counts()

연령대
40대    2840
30대    1687
50대    1513
60대     393
20대     337
70대     105
Name: count, dtype: int64

In [49]:
cond1 = df1['상품명']=='레드와인'
cond2 = df1['구매가격']>18000

df1_2 = df1[cond1&cond2]

In [50]:
df1_2['연령대'].value_counts()

연령대
40대    1966
30대    1499
50대     875
20대     347
60대     272
70대      78
Name: count, dtype: int64

In [67]:
df1[df1['상품명'].str.contains('와인')]['물품중분류'].value_counts()

KeyError: '물품중분류'

In [56]:
df1[df1['상품명']=='화이트와인']['구매가격'].describe()

count      3296.000000
mean      16122.387743
std       14517.511564
min        2500.000000
25%        9900.000000
50%       13900.000000
75%       17800.000000
max      300000.000000
Name: 구매가격, dtype: float64

In [63]:
df1[df1['상품명']=='스파클링와인']['연령대'].value_counts()

연령대
40대    370
30대    333
50대    178
20대    108
60대     36
70대      6
Name: count, dtype: int64

In [59]:
df1[df1['상품명']=='냉장치킨족발류']['구매가격'].describe()

count     6099.000000
mean      7593.865224
std       4393.781600
min          1.000000
25%       2990.000000
50%       7990.000000
75%      11200.000000
max      33904.000000
Name: 구매가격, dtype: float64

In [61]:
df1

,Unnamed: 0.1,고객번호,성별,연령대,지역,영수증번호,채널,유통사,점포코드,상품코드,구매일,구매시각,구매가격,구매수량,Unnamed: 0,상품명,대분류명,중분류명
0,0,M000034966,여성,40대,세종,A02357420240,1,롯데마트,A020116,PD0952,20210328,21,59800.0,1,951,여성베스트,여성의류,여성의류상의
1,1,M000034966,여성,40대,세종,A02357421026,1,롯데마트,A020116,PD0952,20210328,21,22800.0,1,951,여성베스트,여성의류,여성의류상의
2,2,M000034966,여성,40대,세종,A02358228482,1,롯데마트,A020116,PD0952,20210629,13,65700.0,1,951,여성베스트,여성의류,여성의류상의
3,3,M000034966,여성,40대,세종,A01016688590,1,롯데백화점,A010045,PD0796,20210116,18,100.0,1,795,스포츠아대/헤어밴드,스포츠패션,스포츠잡화
4,4,M000034966,여성,40대,세종,A01016688590,1,롯데백화점,A010045,PD0777,20210116,18,59000.0,1,776,남성런닝/트레이닝화,스포츠패션,남성스포츠화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555338,3555338,M999962961,여성,50대,서울,A03072827836,1,롯데슈퍼,A030118,PD0355,20210809,17,11900.0,1,354,냉장치킨족발류,냉장식품,냉장간편식
3555339,3555339,M999962961,여성,50대,서울,A03073005783,1,롯데슈퍼,A030118,PD0355,20210906,16,11900.0,1,354,냉장치킨족발류,냉장식품,냉장간편식
3555340,3555340,M999962961,여성,50대,서울,A03071991818,1,롯데슈퍼,A030118,PD0322,20210310,20,10990.0,1,321,냉동부침,냉동식품,냉동간편식
3555341,3555341,M999962961,여성,50대,서울,A03071935135,1,롯데슈퍼,A030118,PD0357,20210226,20,6990.0,1,356,냉장안주,냉장식품,냉장간편식
3555342,3555342,M999962961,여성,50대,서울,A03072652674,1,롯데슈퍼,A030118,PD0743,20210714,16,3990.0,1,742,대합,수산물,조개류

In [65]:
df4.head(30)

      pd_c        pd_nm clac_hlv_nm clac_mcls_nm
0   PD0001           소파          가구         거실가구
1   PD0002      스툴/리빙의자          가구         거실가구
2   PD0003           탁자          가구         거실가구
3   PD0004      장식장/진열장          가구         거실가구
4   PD0005         기타가구          가구         기타가구
5   PD0006           책상          가구    사무용/학생용가구
6   PD0007         책상의자          가구    사무용/학생용가구
7   PD0008           책장          가구    사무용/학생용가구
8   PD0009  사무용/학생용가구세트          가구    사무용/학생용가구
9   PD0010       선반장/행거          가구         수납가구
10  PD0011      서랍장/수납장          가구         수납가구
11  PD0012          신발장          가구         수납가구
12  PD0013         시공가구          가구     시공/DIY가구
13  PD0014        DIY가구          가구     시공/DIY가구
14  PD0015      야외의자/벤치          가구        야외용가구
15  PD0016        유아동침대          가구        유아동가구
16  PD0017        유아동옷장          가구        유아동가구
17  PD0018       유아동수납장          가구        유아동가구
18  PD0019        유아동의자          가구        유아동가구
19  PD0020    유아공부상/디딤대          가구        유아동가구
20  PD0021           식탁          가구         주방가구
21  PD0022         식탁의자          가구         주방가구
22  PD0023         식탁세트          가구         주방가구
23  PD0024        주방수납장          가구         주방가구
24  PD0025           침대          가구         침실가구
25  PD0026       침실가구세트          가구         침실가구
26  PD0027         매트리스          가구         침실가구
27  PD0028           협탁          가구         침실가구
28  PD0029          화장대          가구         침실가구
29  PD0030           장롱          가구         침실가구

In [68]:
df2 = pd.read_excel('L4_pd_분류수정.xlsx')

In [76]:
df2

        pd_c     pd_nm clac_hlv_nm clac_mcls_nm       분류 Unnamed: 5
0     PD0001        소파          가구         거실가구       소파        NaN
1     PD0002   스툴/리빙의자          가구         거실가구  스툴/리빙의자        NaN
2     PD0003        탁자          가구         거실가구       탁자        NaN
3     PD0004   장식장/진열장          가구         거실가구  장식장/진열장        NaN
4     PD0005      기타가구          가구         기타가구     기타가구        NaN
...      ...       ...         ...          ...      ...        ...
1928  PD1929      여성향수    화장품/뷰티케어           향수       향수        NaN
1929  PD1930      남성향수    화장품/뷰티케어           향수       향수        NaN
1930  PD1931    남녀공용향수    화장품/뷰티케어           향수       향수        NaN
1931  PD1932    남성향수세트    화장품/뷰티케어           향수       향수        NaN
1932  PD1933  남녀공용향수세트    화장품/뷰티케어           향수       향수        NaN

[1933 rows x 6 columns]

In [79]:
df_log = pd.read_csv('LPOINT 2번 data.csv')

/var/folders/q9/51yx3nc91mq6crjc81y6g1wm0000gn/T/ipykernel_8883/4249148197.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_log = pd.read_csv('LPOINT 2번 data.csv')

In [82]:
df_new = pd.merge(df_log, df2, on='pd_c', how='inner')

In [87]:
df_new[df_new['분류'].str.contains('맥주')]

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,분류,Unnamed: 5
1765730,M491496657,A01001335414,1,A01,A010017,PD1331,20210102,16,7800.0,3,수입맥주,주류,맥주,맥주,NaN
1765731,M562662978,A01003381603,1,A01,A010021,PD1331,20210103,20,3500.0,2,수입맥주,주류,맥주,맥주,NaN
1765732,M318204051,A01004142413,1,A01,A010007,PD1331,20210104,19,2600.0,1,수입맥주,주류,맥주,맥주,NaN
1765733,M318204051,A01004142413,1,A01,A010007,PD1331,20210104,19,2600.0,1,수입맥주,주류,맥주,맥주,NaN
1765734,M663205788,A01005639801,1,A01,A010002,PD1331,20210106,17,2600.0,1,수입맥주,주류,맥주,맥주,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025349,M912091913,A04128010517,1,A04,A041462,PD1332,20211228,17,3900.0,1,무알콜맥주,주류,맥주,맥주,NaN
3025350,M561620114,A04128055092,1,A04,A040984,PD1332,20211229,0,2800.0,1,무알콜맥주,주류,맥주,맥주,NaN
3025351,M475647218,A04128171331,1,A04,A040659,PD1332,20211229,18,2950.0,1,무알콜맥주,주류,맥주,맥주,NaN
3025352,M279594029,A04128988094,1,A04,A040067,PD1332,20211231,19,2950.0,1,무알콜맥주,주류,맥주,맥주,NaN
3025353,M667851349,A04128996621,1,A04,A040010,PD1332,20211231,19,1800.0,1,무알콜맥주,주류,맥주,맥주,NaN

In [93]:
df_new['분류'].value_counts().head(40)

분류
채소         421368
스낵류        305359
유제품        284420
음료         220493
과일         200344
축산물        190062
음식점        164279
라면         143845
커피/차       106891
청소용품        93087
맥주          87805
사탕/초콜릿      85356
간편식         83629
냉동간편식       80230
수산물         72185
조리식품        69832
빵           65069
파티/팬시용품     61354
냉장간편식       57481
햄/소시지       56012
어묵/맛살       54079
소스류         49312
아이스크림       46334
반찬          43420
디저트         40547
소주          39669
화장품         39624
남성의류/세트     37203
조미료류        36943
일반담배        35385
임대매출        34278
교육완구        33287
여성의류/상의     31580
주방용품        28060
해조류         26940
화장지/티슈      26859
통조림         25844
목욕용품        25493
건어물         22761
면           22641
Name: count, dtype: int64

In [92]:
len(df_new[df_new['분류'].str.contains('침대')])

648

In [96]:
df_new

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,분류,Unnamed: 5
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
1,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
3,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
4,M506355556,A01000107137,1,A01,A010032,PD0290,20210101,15,199000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M696533418,E06045892016,2,A06,NaN,PD0520,20211115,0,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381739,M696533418,E06045892016,2,A06,NaN,PD0520,20211115,0,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381740,M111856694,E06045887405,2,A06,NaN,PD0520,20211118,0,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381741,M001808316,E06045891296,2,A06,NaN,PD0520,20211118,0,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381742,M475857646,E06046013307,2,A06,NaN,PD0520,20211121,3,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN

In [97]:
mapping = {
    'A01': '롯데백화점',
    'A02': '롯데마트',
    'A03': '롯데슈퍼',
    'A04': '세븐일레븐',
    'A05': '하이마트',
    'A06': '롯데 ON'
}

df_new['cop_c'] = df_new['cop_c'].map(mapping)

In [99]:
df_new.to_csv('real_log.csv')

In [ ]:
df_new['de_dt']

In [102]:
df_new['de_dt'] = pd.to_datetime(df_new['de_dt'], format='%Y%m%d')

---

# 0429

In [2]:
df_new = pd.read_csv('real_log.csv')

/var/folders/q9/51yx3nc91mq6crjc81y6g1wm0000gn/T/ipykernel_12382/2165525480.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv('real_log.csv')

In [3]:
df_new['de_dt'] = pd.to_datetime(df_new['de_dt'], format='%Y%m%d')

In [153]:
df_new['분류'].value_counts().head(20)

분류
채소         421368
스낵류        305359
유제품        284420
음료         220493
과일         200344
축산물        190062
음식점        164279
라면         143845
커피/차       106891
청소용품        93087
맥주          87805
사탕/초콜릿      85356
간편식         83629
냉동간편식       80230
수산물         72185
조리식품        69832
빵           65069
파티/팬시용품     61354
냉장간편식       57481
햄/소시지       56012
Name: count, dtype: int64

In [121]:
df_new[df_new['de_dt']=='2021-05-05']['분류'].value_counts().head(20)

분류
채소         1336
스낵류        1043
교육완구        900
음료          880
유제품         873
음식점         731
과일          700
축산물         588
라면          447
커피/차        378
맥주          314
사탕/초콜릿      305
청소용품        304
간편식         255
냉동간편식       250
파티/팬시용품     234
빵           223
임대매출        221
수산물         220
조리식품        205
Name: count, dtype: int64

In [123]:
df_new[df_new['분류']=='교육완구']

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,분류,Unnamed: 5
456463,456463,M419249862,A01000135829,1,롯데백화점,A010045,PD1014,2021-01-01,15,29900.0,1,레고,완구,교육완구,교육완구,NaN
456464,456464,M849831487,A01000271051,1,롯데백화점,A010043,PD1014,2021-01-01,18,129900.0,1,레고,완구,교육완구,교육완구,NaN
456465,456465,M052658222,A01000688922,1,롯데백화점,A010043,PD1014,2021-01-02,13,44900.0,1,레고,완구,교육완구,교육완구,NaN
456466,456466,M052658222,A01000688922,1,롯데백화점,A010043,PD1014,2021-01-02,13,200.0,1,레고,완구,교육완구,교육완구,NaN
456467,456467,M052658222,A01000691903,1,롯데백화점,A010043,PD1014,2021-01-02,13,44900.0,1,레고,완구,교육완구,교육완구,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4314313,4314313,M509984489,E06033473214,2,롯데 ON,NaN,PD1029,2021-04-28,12,11000.0,2,물놀이용품,완구,실외놀이/스포츠완구,교육완구,NaN
4314314,4314314,M958140448,E06038080611,2,롯데 ON,NaN,PD1029,2021-05-13,7,22890.0,1,물놀이용품,완구,실외놀이/스포츠완구,교육완구,NaN
4314315,4314315,M875728305,E06041979868,2,롯데 ON,NaN,PD1029,2021-06-11,13,13000.0,1,물놀이용품,완구,실외놀이/스포츠완구,교육완구,NaN
4314316,4314316,M891584748,E06043501718,2,롯데 ON,NaN,PD1029,2021-07-13,10,5000.0,1,물놀이용품,완구,실외놀이/스포츠완구,교육완구,NaN
4314317,4314317,M623408655,E06042732397,2,롯데 ON,NaN,PD1029,2021-07-19,17,2600.0,1,물놀이용품,완구,실외놀이/스포츠완구,교육완구,NaN

In [4]:
import matplotlib.pyplot as plt

In [5]:
plt.rcParams['font.family'] = 'AppleGothic'

In [6]:
import plotly.graph_objs as go

#### plotly

In [138]:
import plotly.graph_objs as go

# 교육완구 카테고리의 데이터 추출
edu_toys_data = df_new[df_new['분류'] == '안마의자']

# 날짜(de_dt)를 기준으로 그룹화하여 일별 판매량 계산
daily_sales = edu_toys_data.groupby('de_dt')['buy_ct'].sum()

# plotly를 사용하여 그래프 생성
fig = go.Figure()

# 선 그래프 추가
fig.add_trace(go.Scatter(x=daily_sales.index, y=daily_sales.values, mode='lines+markers', name='판매량', marker=dict(color='blue')))

# 레이아웃 설정
fig.update_layout(title='판매량', xaxis_title='날짜',
                  yaxis_title='판매량', xaxis_tickformat='%Y-%m-%d',
                  showlegend=True, legend=dict(x=0, y=1.0))

# 그래프 표시
fig.show()

In [145]:
import plotly.graph_objs as go

# 교육완구 카테고리의 데이터 추출
edu_toys_data = df_new[df_new['분류'] == '축산물']

# 날짜(de_dt)를 기준으로 그룹화하여 일별 판매량 계산
daily_sales = edu_toys_data.groupby('de_dt')['buy_ct'].sum()

# plotly를 사용하여 그래프 생성
fig = go.Figure()

# 선 그래프 추가
fig.add_trace(go.Scatter(x=daily_sales.index, y=daily_sales.values, mode='lines+markers', name='판매량', marker=dict(color='blue')))

# 레이아웃 설정
fig.update_layout(title='판매량', xaxis_title='날짜',
                  yaxis_title='판매량', xaxis_tickformat='%Y-%m-%d',
                  showlegend=True, legend=dict(x=0, y=1.0))

# 그래프 표시
fig.show()

In [156]:
df_new['분류'].unique()

array(['남성의류/상의', '일회용품', '음식점', '남성의류/속옷', '기타구기/필드스포츠', '여성의류/아우터',
       '여성의류/상의', '커피/차', '스포츠잡화', '남성의류/아우터', '유아동의류/상의', '패션잡화/남성',
       '스포츠남성/등산', '주방도구', '식기/조리기구', '남성의류/스포츠', '과자세트', '빵', '패션잡화/여성',
       '남성신발/스포츠', '침구', '남성의류/세트', '남여패션잡화', '헬스/피트니스', '남성의류/하의',
       '유아동신발/패션', '남성신발/패션', '서적', '유아동의류/아우터', '생활서비스', '간편식',
       '여성의류/세트', '쥬얼리', '스포츠여성/골프', '사탕/초콜릿', '장류', '와인/세트', '스포츠잡화/골프',
       '여성신발/스포츠', '여성신발/패션', '떡', '여성의류/하의', '간편조리', '스포츠남성/골프', '교육완구',
       '유아동의류/세트', '반찬', '채소', '남성의류/특수소재', '유아식품', '스포츠잡화/수영', '과일',
       '와인', '스포츠여성/등산', '유아동의류/스포츠', '스낵류', '유아동의류/홈웨어', '서적/유아동',
       '여성의류/속옷', '유아동신발/스포츠', '조리식품', '상품권', '디저트', '아이스크림', '축산물',
       '자동차용품', '음료', '화장품', '화장품/남성', '냉방가전', '사무용/학생용가구세트', '영양제',
       '카메라/캠코더', '향수', '조미료류', '양곡', '햄/소시지', '소스류', '유제품', '식용유류',
       '남여패션잡화/세트', '영상/음향가전', '청소기', '세탁기', '놀이동산이용권', '세탁세제', '청소세제',
       '시계/남성', '면', '목욕용품', '공기청정/가습/제습', '여성의류/스포츠', '컴퓨터', '일반문구/사무용품',
       '안경', '유원시설', '유아동잡화', '모바일기기', '어묵/맛살', '이미용가전', '생활가전/의류',
       '여성의류/수영', '냉동간편식', '주방잡화', '원예', '수예', '잼', '화장지/티슈', '기타가구',
       '소파', '냉장고/김치', '일반의약품', '스키/보드이용권', '침대', '파티/팬시용품', '건강보조식품',
       '주방가전', '홍삼/인삼가공식품', '라면', '간식/안주형과자', '양주', '책상', '여성의류/특수소재',
       '방향/제습/탈취제', '수산물', '침구/유아동', '위생용품/여성', '시리얼', '주방용품', '스포츠/레저',
       '냉장고', '냉장간편식', '출산/육아용품', '맥주', '유아동의류/속옷', '남여의류/속옷/세트', '애완용품',
       '과일/선물세트', '전기용품', '유아동의류/하의', '건어물', '인테리어/조명', '욕실용품', '여행용가방',
       '건과일', '통조림', '조미료류/세트', '해조류', '여성의류/특수목적', '스툴/리빙의자', '주방세제',
       '패션잡화', '건조기', '미술용품', '음반/영상물', '일반비타민', '유아동의류/특수소재',
       '식기세척기/건조기', '생활용품', '소주', '구강케어', '남성의류/특수목적', '스포츠신발/골프',
       '시계/여성', '필기도구', '분말류', '스포츠신발/등산', '반건생선', '견과류', '전통주', '사무용지',
       '책상의자', '탁자', '유아동식기', '안경점', '남여의류/홈웨어/세트', '교육보조재', '매트리스',
       '일반의약외품', '안마의자', '애완동물/서비스', '건강관리용품', '스포츠잡화/등산', '채소/세트',
       '건어물/선물세트', '용기보증금', '면도용품', '발포비타민', '전통과자류', '선글라스/여성', '껌',
       '위생용품/특수', '정수기', '난방가전', '꿀', '스포츠의류/동계', '유아동의류/특수목적', '우산/양산류',
       '살충/방충제', '선글라스/남성', '침실가구세트', '남성의류/수영', '시계', '시계/스포츠', '안전용품',
       '여성의류/홈웨어', '세탁용품', '남여시계', '시계/세트', '유아동가구', '캠핑', '기타', '식탁세트',
       '선반장/행거', '한방약재', '햄/소시지/세트', '청소용품', '양주/세트', '통조림세트', '스포츠/축구',
       '문화/공연입장권', '임대매출', '식탁', '건강진액', '안마/찜질용품', '종합영양제', '사진관',
       '비디오게임', '남성의류/속옷/세트', '남성의류/홈웨어', '서랍장/수납장', '시공/DIY가구',
       '유아동의류/수영', '식탁의자', '렌탈수수료', '스포츠/테니스', '냉동과일', '악기', '렌탈서비스/인테리어',
       '책장', '김밥', '렌탈서비스/헬스', '스포츠잡화/낚시', '전자담배', '스포츠/자전거', '장식장/진열장',
       '스포츠잡화/동계', '패션잡화/유아동', '양곡/세트', '애완동물', '홍삼/인삼가공식품/유아동', '화장대',
       '공구', '홈시어터', '전통주/세트', '스포츠/야구', '보수용품', '노트', '스포츠/탁구', '소극장',
       '스포츠잡화/배드민턴', '건강측정용품', '신발장', '스포츠잡화/농구', '스포츠잡화/배구',
       '스포츠유아동/자전거', '선글라스/유아동', '특판', '야외의자/벤치', '일반담배', '기타이용권', '기프트샵',
       '냉장간편식/안주', '특수담배', '교통카드판매', '전화기', '생활가전/욕실', '렌탈서비스/악기', '기프트',
       '보험', '사무기기', '소모품', '서적/세트', '족욕기', '장롱', '스포츠신발/배드민턴', '협탁',
       '스포츠신발/농구', '녹즙기/원액기', '주방수납장', '붙박이장', '스포츠의류/농구', '시계/유아동',
       '스파/워터파크이용권', '숙박', '렌탈서비스/자동차'], dtype=object)

In [21]:
# 교육완구 카테고리의 데이터 추출
edu_toys_data = df_new[df_new['분류'] == '일회용품']

# 날짜(de_dt)를 기준으로 그룹화하여 일별 판매량 계산
daily_sales = edu_toys_data.groupby('de_dt')['buy_ct'].sum()

# plotly를 사용하여 그래프 생성
fig = go.Figure()

# 선 그래프 추가
fig.add_trace(go.Scatter(x=daily_sales.index, y=daily_sales.values, mode='lines+markers', name='판매량', marker=dict(color='blue')))

# 레이아웃 설정
fig.update_layout(title='판매량', xaxis_title='날짜',
                  yaxis_title='판매량', xaxis_tickformat='%Y-%m-%d',
                  showlegend=True, legend=dict(x=0, y=1.0))

# 그래프 표시
fig.show()

In [23]:
df_new['de_dt'].max()

Timestamp('2021-12-31 00:00:00')

In [24]:
df_new['de_dt'].min()

Timestamp('2021-01-01 00:00:00')

# 판매량 날씨 상관분석

In [45]:
df_weather = pd.read_csv('2021날씨데이터.csv', encoding='cp949')

In [35]:
df_weather['지점명'].unique()

array(['속초', '북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉',
       '동해', '서울', '인천', '원주', '울릉도', '수원', '영월', '충주', '서산', '울진', '청주',
       '대전', '추풍령', '안동', '상주', '포항', '군산', '대구', '전주', '울산', '창원', '광주',
       '부산', '통영', '목포', '여수', '흑산도', '완도', '고창', '순천', '홍성', '제주', '고산',
       '성산', '서귀포', '진주', '강화', '양평', '이천', '인제', '홍천', '태백', '정선군', '제천',
       '보은', '천안', '보령', '부여', '금산', '세종', '부안', '임실', '정읍', '남원', '장수',
       '고창군', '영광군', '김해시', '순창군', '북창원', '양산시', '보성군', '강진군', '장흥', '해남',
       '고흥', '의령군', '함양군', '광양시', '진도군', '봉화', '영주', '문경', '청송군', '영덕',
       '의성', '구미', '영천', '경주시', '거창', '합천', '밀양', '산청', '거제', '남해'],
      dtype=object)

In [37]:
df_weather.columns

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)', '평균 상대습도(%)', '평균 현지기압(hPa)',
       '일 최심신적설(cm)', '평균 전운량(1/10)'],
      dtype='object')

### 일시별 -> 지역별로 묶기 (컬럼 평균) / 결측값 0 처리

In [46]:
group_mapping = {
    '강원도': ['강릉', '대관령', '동해', '북강릉', '북춘천', '삼척', '속초', '영월', '원주', '인제', '정선군', '철원', '춘천', '태백', '홍천'],
    '경기도': ['동두천', '수원', '양평', '이천', '파주'],
    '경상남도': ['거제', '거창', '김해시', '남해', '밀양', '북창원', '산청', '양산시', '의령군', '진주', '창원', '통영', '함양군', '합천'],
    '경상북도': ['경주시', '구미', '문경', '봉화', '상주', '안동', '영덕', '영주', '영천', '울릉도', '울진', '의성', '청송군', '포항'],
    '광주광역시': ['광주'],
    '대구광역시': ['대구', '대구(기)'],
    '대전광역시': ['대전'],
    '부산광역시': ['부산', '북부산'],
    '서울특별시': ['관악산', '서울'],
    '세종특별자치시': ['세종'],
    '울산광역시': ['울산'],
    '인천광역시': ['강화', '백령도', '인천'],
    '전라남도': ['강진군', '고흥', '광양시', '목포', '무안', '보성군', '순천', '여수', '영광군', '완도', '장흥', '주암', '진도(첨찰산)', '진도군', '해남', '흑산도'],
    '전라북도': ['고창', '고창군', '군산', '남원', '부안', '순창군', '임실', '장수', '전주', '정읍'],
    '제주도': ['고산', '서귀포', '성산', '성산포', '제주'],
    '충청남도': ['금산', '보령', '부여', '서산', '천안', '홍성'],
    '충청북도': ['보은', '서청주', '제천', '청주', '추풍령', '충주']
}

In [54]:
# 데이터 전처리 및 평균 계산
result_dfs = {}
for group, locations in group_mapping.items():
    group_data = df_weather[df_weather['지점명'].isin(locations)].drop(columns=['지점명']).groupby('일시').mean()
    group_data.fillna(0, inplace=True)
    result_dfs[group] = group_data

# 그룹명과 평균 데이터를 매핑하여 새로운 데이터프레임 생성
final_df = pd.DataFrame()
for group, df in result_dfs.items():
    df['지역명'] = group
    final_df = pd.concat([final_df, df], axis=0)

# 결과 출력
print(final_df)

                    지점  평균기온(°C)  일강수량(mm)  평균 상대습도(%)  평균 현지기압(hPa)  \
일시
2021-01-01  134.642857 -5.292857  0.000000   50.664286    997.464286
2021-01-02  134.642857 -4.907143  0.000000   37.085714   1000.121429
2021-01-03  134.642857 -5.642857  0.000000   39.128571   1004.642857
2021-01-04  134.642857 -3.735714  0.185714   47.200000   1003.600000
2021-01-05  134.642857 -4.735714  0.170000   48.421429   1000.792857
...                ...       ...       ...         ...           ...
2021-12-27  168.000000 -6.800000  0.050000   60.420000   1009.160000
2021-12-28  168.000000 -2.380000  0.000000   78.860000   1006.360000
2021-12-29  168.000000  0.740000  0.020000   71.540000    998.780000
2021-12-30  168.000000 -2.700000  1.000000   55.380000   1003.040000
2021-12-31  168.000000 -6.160000  0.000000   42.180000   1008.800000

            일 최심신적설(cm)  평균 전운량(1/10)   지역명
일시
2021-01-01          0.0      1.784615   강원도
2021-01-02          0.0      0.046154   강원도
2021-01-03          0.0      2.276923   강원도
2021-01-04          0.8      4.076923   강원도
2021-01-05          0.4      2.415385   강원도
...                 ...           ...   ...
2021-12-27          0.0      3.500000  충청북도
2021-12-28          0.0      6.420000  충청북도
2021-12-29          0.0      6.360000  충청북도
2021-12-30          0.4      2.460000  충청북도
2021-12-31          0.0      0.020000  충청북도

[6205 rows x 8 columns]

In [55]:
len(final_df)

6205

In [63]:
final_df = final_df.drop(columns='지점')

In [ ]:
# final_df => 지역명 컬럼을 젤 앞으로 두기

In [66]:
final_df = final_df.reindex(columns=['지역명'] + [col for col in final_df.columns if col != '지역명'])

In [75]:
# 일시를 컬럼으로 두기

In [71]:
final_df = final_df.reset_index()

In [72]:
final_df.columns

Index(['일시', '지역명', '평균기온(°C)', '일강수량(mm)', '평균 상대습도(%)', '평균 현지기압(hPa)',
       '일 최심신적설(cm)', '평균 전운량(1/10)'],
      dtype='object')

In [74]:
final_df.to_excel('2021지역별날씨.xlsx')

In [78]:
weather_df = final_df

-----

### 상관분석

In [101]:
df1 = pd.read_csv('LPOINT 1번 data.csv')

In [79]:
weather_df

,일시,지역명,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),일 최심신적설(cm),평균 전운량(1/10)
0,2021-01-01,강원도,-5.292857,0.000000,50.664286,997.464286,0.0,1.784615
1,2021-01-02,강원도,-4.907143,0.000000,37.085714,1000.121429,0.0,0.046154
2,2021-01-03,강원도,-5.642857,0.000000,39.128571,1004.642857,0.0,2.276923
3,2021-01-04,강원도,-3.735714,0.185714,47.200000,1003.600000,0.8,4.076923
4,2021-01-05,강원도,-4.735714,0.170000,48.421429,1000.792857,0.4,2.415385
...,...,...,...,...,...,...,...,...
6200,2021-12-27,충청북도,-6.800000,0.050000,60.420000,1009.160000,0.0,3.500000
6201,2021-12-28,충청북도,-2.380000,0.000000,78.860000,1006.360000,0.0,6.420000
6202,2021-12-29,충청북도,0.740000,0.020000,71.540000,998.780000,0.0,6.360000
6203,2021-12-30,충청북도,-2.700000,1.000000,55.380000,1003.040000,0.4,2.460000
6204,2021-12-31,충청북도,-6.160000,0.000000,42.180000,1008.800000,0.0,0.020000

In [ ]:
# 필요없는 컬럼 삭제

In [81]:
df_new = df_new.drop(columns='Unnamed: 0')

In [85]:
df_new = df_new.drop(columns='Unnamed: 5')

In [86]:
df_new.columns

Index(['cust', 'rct_no', 'chnl_dv', 'cop_c', 'br_c', 'pd_c', 'de_dt', 'de_hr',
       'buy_am', 'buy_ct', 'pd_nm', 'clac_hlv_nm', 'clac_mcls_nm', '분류'],
      dtype='object')

### 고객 데이터와 연결

In [102]:
df_new2 = pd.merge(df1, df_new, on='cust', how='inner')

### 지역 코드 매핑

In [104]:
mapping = {
    'Z01': '경상남도',
    'Z02': '제주도',
    'Z03': '충청남도',
    'Z04': '대구광역시',
    'Z05': '전라남도',
    'Z06': '광주광역시',
    'Z07': '세종특별자치시',
    'Z08': '충청북도',
    'Z09': '전라북도',
    'Z10': '경기도',
    'Z11': '인천광역시',
    'Z12': '강원도',
    'Z13': '울산광역시',
    'Z14': '대전광역시',
    'Z15': '경상북도',
    'Z16': '부산광역시',
    'Z17': '서울특별시',
}

In [105]:
df_new2['zon_hlv'] = df_new2['zon_hlv'].map(mapping)

In [106]:
df_new2['zon_hlv'].unique()

array(['세종특별자치시', '인천광역시', '서울특별시', '경기도', '전라남도', '부산광역시', '강원도', '충청남도',
       '광주광역시', '대전광역시', '경상남도', '대구광역시', '전라북도', '경상북도', '충청북도', '울산광역시',
       '제주도'], dtype=object)

In [108]:
df_new2.columns

Index(['cust', 'ma_fem_dv', 'ages', 'zon_hlv', 'rct_no', 'chnl_dv', 'cop_c',
       'br_c', 'pd_c', 'de_dt', 'de_hr', 'buy_am', 'buy_ct', 'pd_nm',
       'clac_hlv_nm', 'clac_mcls_nm', '분류'],
      dtype='object')

In [112]:
df_new3 = df_new2.rename(columns={'cust':'고객번호','ma_fem_dv':'성별',
                            'ages':'연령대', 'zon_hlv':'지역',
                            'rct_no':'영수증번호','chnl_dv':'채널',
                            'cop_c':'제휴사','br_c':'점포코드',
                            'pd_c':'물품코드',
                           'de_dt':'구매일시', 'de_hr':'구매시각',
                           'buy_ct':'구매수량', 'pd_nm':'물품명',
                           'clac_hlv_nm':'대분류','buy_am':'구매가격',
                           'clac_mcls_nm':'중분류'})

In [114]:
df_new3.to_csv('merged_data_0430.csv')

### 날씨 데이터, 고객 구매 데이터 병합

In [116]:
df_log = pd.read_csv('merged_data_0430.csv')

In [117]:
df_log.columns

Index(['Unnamed: 0', '고객번호', '성별', '연령대', '지역', '영수증번호', '채널', '제휴사', '점포코드',
       '물품코드', '구매일시', '구매시각', '구매가격', '구매수량', '물품명', '대분류', '중분류', '분류'],
      dtype='object')

In [119]:
weather_df.columns

Index(['일시', '지역명', '평균기온(°C)', '일강수량(mm)', '평균 상대습도(%)', '평균 현지기압(hPa)',
       '일 최심신적설(cm)', '평균 전운량(1/10)'],
      dtype='object')

In [ ]:
# 지역별로

In [125]:
weather_df

,일시,지역명,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),일 최심신적설(cm),평균 전운량(1/10)
0,2021-01-01,강원도,-5.292857,0.000000,50.664286,997.464286,0.0,1.784615
1,2021-01-02,강원도,-4.907143,0.000000,37.085714,1000.121429,0.0,0.046154
2,2021-01-03,강원도,-5.642857,0.000000,39.128571,1004.642857,0.0,2.276923
3,2021-01-04,강원도,-3.735714,0.185714,47.200000,1003.600000,0.8,4.076923
4,2021-01-05,강원도,-4.735714,0.170000,48.421429,1000.792857,0.4,2.415385
...,...,...,...,...,...,...,...,...
6200,2021-12-27,충청북도,-6.800000,0.050000,60.420000,1009.160000,0.0,3.500000
6201,2021-12-28,충청북도,-2.380000,0.000000,78.860000,1006.360000,0.0,6.420000
6202,2021-12-29,충청북도,0.740000,0.020000,71.540000,998.780000,0.0,6.360000
6203,2021-12-30,충청북도,-2.700000,1.000000,55.380000,1003.040000,0.4,2.460000
6204,2021-12-31,충청북도,-6.160000,0.000000,42.180000,1008.800000,0.0,0.020000

In [120]:
merged_df = pd.merge(df_log, weather_df, left_on=['구매일시', '지역'], right_on=['일시', '지역명'], how='inner')

In [121]:
correlation = merged_df[['구매수량', '평균기온(°C)', '일강수량(mm)', '평균 상대습도(%)', '평균 현지기압(hPa)', '일 최심신적설(cm)', '평균 전운량(1/10)']].corr()

In [122]:
correlation

,구매수량,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),일 최심신적설(cm),평균 전운량(1/10)
구매수량,1.000000,0.003736,-0.001617,0.002093,-0.003941,0.000746,0.001502
평균기온(°C),0.003736,1.000000,0.142682,0.434375,-0.378379,-0.210863,0.360136
일강수량(mm),-0.001617,0.142682,1.000000,0.388784,-0.157569,0.046297,0.392235
평균 상대습도(%),0.002093,0.434375,0.388784,1.000000,-0.231772,-0.050474,0.592736
평균 현지기압(hPa),-0.003941,-0.378379,-0.157569,-0.231772,1.000000,0.041041,-0.198239
일 최심신적설(cm),0.000746,-0.210863,0.046297,-0.050474,0.041041,1.000000,-0.026229
평균 전운량(1/10),0.001502,0.360136,0.392235,0.592736,-0.198239,-0.026229,1.000000

In [127]:
merged_df['일시'] = pd.to_datetime(merged_df['일시'])

In [128]:
import pandas as pd

def correlation_by_category_and_region(category, df_log, weather_df):
    correlations = {}
    for region in df_log['지역'].unique():
        # 주어진 분류와 지역에 해당하는 물품 필터링
        filtered_df = df_log[(df_log['분류'] == category) & (df_log['지역'] == region)]
        
        # '구매일시'를 기준으로 일자별로 행의 수를 계산
        daily_purchase_count = filtered_df.groupby(filtered_df['구매일시'].str[:10]).size().reset_index(name='구매건수')

        # 날짜 형식 변환
        daily_purchase_count['구매일시'] = pd.to_datetime(daily_purchase_count['구매일시'])

        # 새로운 데이터프레임을 기존의 날씨 데이터와 병합
        merged_df = pd.merge(daily_purchase_count, weather_df, left_on=['구매일시'], right_on=['일시'], how='inner')

        # 필요한 경우 날짜 및 시간 형식 변환
        merged_df['일시'] = pd.to_datetime(merged_df['일시'])

        # 상관 관계 계산
        correlation = merged_df[['구매건수', '평균기온(°C)', '일강수량(mm)', '평균 상대습도(%)', '평균 현지기압(hPa)', '일 최심신적설(cm)', '평균 전운량(1/10)']].corr()
        
        correlations[region] = correlation['구매건수']
    
    return correlations

# 예시: '분류'가 '과일'인 경우 모든 지역에 대한 상관 관계 계산
category_correlations_by_region = correlation_by_category_and_region('과일', df_log, weather_df)
for region, correlation in category_correlations_by_region.items():
    print(f"지역: {region}")
    print(correlation)
    print()

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [129]:
weather_df

,일시,지역명,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),일 최심신적설(cm),평균 전운량(1/10)
0,2021-01-01,강원도,-5.292857,0.000000,50.664286,997.464286,0.0,1.784615
1,2021-01-02,강원도,-4.907143,0.000000,37.085714,1000.121429,0.0,0.046154
2,2021-01-03,강원도,-5.642857,0.000000,39.128571,1004.642857,0.0,2.276923
3,2021-01-04,강원도,-3.735714,0.185714,47.200000,1003.600000,0.8,4.076923
4,2021-01-05,강원도,-4.735714,0.170000,48.421429,1000.792857,0.4,2.415385
...,...,...,...,...,...,...,...,...
6200,2021-12-27,충청북도,-6.800000,0.050000,60.420000,1009.160000,0.0,3.500000
6201,2021-12-28,충청북도,-2.380000,0.000000,78.860000,1006.360000,0.0,6.420000
6202,2021-12-29,충청북도,0.740000,0.020000,71.540000,998.780000,0.0,6.360000
6203,2021-12-30,충청북도,-2.700000,1.000000,55.380000,1003.040000,0.4,2.460000
6204,2021-12-31,충청북도,-6.160000,0.000000,42.180000,1008.800000,0.0,0.020000

# 0502(목)

In [3]:
# 워드클라우드

In [5]:
pd.read_excel('202112_202112_연령별인구현황_연간.xlsx')

/Users/sinhyelim/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,※ 매년 말일자 통계 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,2021년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,행정기관코드,행정기관,총 거주자수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,...,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
3,1100000000,서울특별시,"9,401,888","9,401,888","583,025","753,309","1,414,854","1,427,722","1,460,745","1,480,069",...,"366,988","733,864","714,593","737,683","752,105","667,710","374,489","176,246","29,981",926
4,1111000000,서울특별시 서울특별시 종로구,"141,517","141,517","6,973","10,308","22,634","19,219","20,465","24,183",...,"5,188","11,725","9,629","10,588","12,012","9,835","6,273","3,552",624,17
5,1114000000,서울특별시 서울특별시 중구,"119,748","119,748","6,284","6,405","18,176","19,648","16,894","19,341",...,"3,230","9,758","9,841","8,248","9,556","8,790","5,439","3,060",548,12
6,1117000000,서울특별시 서울특별시 용산구,"216,655","216,655","12,613","14,505","32,457","37,158","32,817","34,686",...,"7,142","17,172","18,782","16,641","17,530","14,309","8,523","5,127",879,29
7,1120000000,서울특별시 서울특별시 성동구,"282,612","282,612","19,207","18,812","43,259","46,467","42,742","45,262",...,"9,417","21,957","23,612","21,323","22,916","18,992","10,988","5,509",828,27
8,1121500000,서울특별시 서울특별시 광진구,"336,447","336,447","17,726","24,700","61,394","54,331","49,763","52,847",...,"12,174","32,658","27,366","25,282","27,017","22,774","11,778","5,658",883,28
9,1123000000,서울특별시 서울특별시 동대문구,"333,894","333,894","19,567","22,683","55,996","48,683","48,366","51,264",...,"11,161","28,621","23,663","23,477","25,333","24,149","14,854","7,264","1,048",41
10,1126000000,서울특별시 서울특별시 중랑구,"383,963","383,963","21,274","25,366","53,903","56,649","55,136","66,503",...,"12,477","27,380","27,511","26,614","33,731","30,978","16,855","7,625","1,225",34
11,1129000000,서울특별시 서울특별시 성북구,"426,054","426,054","27,307","35,871","65,280","58,025","66,633","68,068",...,"17,636","34,032","29,018","33,793","34,535","29,626","18,131","9,098","1,479",35
12,1130500000,서울특별시 서울특별시 강북구,"295,859","295,859","14,134","20,738","40,783","36,813","43,255","50,757",...,"10,103","20,812","17,567","20,992","25,791","24,751","16,578","7,419","1,037",28
13,1132000000,서울특별시 서울특별시 도봉구,"314,528","314,528","17,022","24,233","41,311","38,939","45,666","55,265",...,"11,776","20,375","19,030","23,001","28,871","26,787","14,772","7,525","1,208",38
14,1135000000,서울특별시 서울특별시 노원구,"507,124","507,124","30,627","50,174","69,655","62,717","81,045","86,019",...,"24,136","34,056","31,480","42,447","44,492","37,461","20,903","11,195","1,906",64
15,1138000000,서울특별시 서울특별시 은평구,"467,877","467,877","27,631","37,093","64,929","66,552","73,173","75,889",...,"18,116","33,938","33,876","36,971","39,384","35,456","21,390","10,021","1,440",34
16,1141000000,서울특별시 서울특별시 서대문구,"300,769","300,769","18,843","22,392","48,514","43,854","44,616","47,579",...,"11,196","25,455","22,162","22,569","24,444","20,518","13,128","7,164","1,087",43
17,1144000000,서울특별시 서울특별시 마포구,"364,020","364,020","23,625","27,545","60,908","63,074","58,970","53,711",...,"13,657","33,662","33,265","30,381","27,436","21,458","13,367","6,967","1,127",34
18,1147000000,서울특별시 서울특별시 양천구,"443,638","443,638","29,507","49,354","57,117","55,248","75,830","75,231",...,"23,586","28,123","27,966","39,624","37,849","31,068","15,346","7,090","1,293",39
19,1150000000,서울특별시 서울특별시 강서구,"569,756","569,756","36,609","43,381","85,318","97,268","88,348","83,280",...,"21,162","46,263","48,246","44,020","43,221","42,269","20,804","9,828","1,910",52
20,1153000000,서울특별시 서울특별시 구로구,"393,822","393,822","25,943","29,100","53,528","60,745","60,600","61,514",...,"14,167","27,312","29,789","29,600","31,112","30,117","16,720","7,228","1,140",26
21,1154500000,서울특별시 서울특별시 금천구,"228,631","228,631","11,659","13,900","37,060","36,338","31,235","38,697",...,"6,867","18,794","16,228","14,805","19,330","17,424","9,469","4,136",637,19
22,1156000000,서울특별시 서울특별시 영등포구,"372,586","372,586","24,738","23,529","58,428","68,959","54,725","55,148",...,"11,275","31,369","33,761","26,550","27,091","24,442","14,337","6,967","1,052",32
23,1159000000,서울특별시 서울특별시 동작구,"381,596","381,596","22,969","26,895","64,648","60,485","56,536","57,104",...,"13,108","33,449","29,915","28,199","29,558","26,775","16,226","7,341","1,228",37
24,1162000000,서울특별시 서울특별시 관악구,"480,924","480,924","19,827","26,944","107,682","84,852","64,511","65,868",...,"13,161","55,441","37,828","30,058","32,578","31,633","19,790","8,168","1,207",41
25,1165000000,서울특별시 서울특별시 서초구,"405,959","405,959","31,667","44,282","51,600","58,839","73,820","61,191",...,"21,750","26,827","31,848","39,304","30,821","25,208","13,921","5,598","1,238",39
26,1168000000,서울특별시 서울특별시 강남구,"523,799","523,799","34,647","58,887","70,103","76,410","95,670","79,941",...,"28,143","36,740","41,221","51,488","39,884","32,347","17,870","6,996","1,639",64
27,1171000000,서울특별시 서울특별시 송파구,"651,800","651,800","48,335","57,468","89,955","105,836","105,953","100,034",...,"28,058","47,162","55,322","54,666","51,574","45,737","20,853","8,886","1,893",60
28,1174000000,서울특별시 서울특별시 강동구,"458,310","458,310","34,291","38,744","60,216","70,613","73,976","70,687",...,"18,302","30,783","35,667","37,042","36,039","34,806","16,174","6,824","1,425",53

In [7]:
df_female = pd.read_excel('서울시_인구통계_여.xlsx')

In [8]:
df_male = pd.read_excel('서울시_인구통계_남.xlsx')

### 데이터 전처리

In [20]:
# 여자

In [11]:
df_female = df_female.rename(columns={'20~29세':'20대', '30~39세':'30대',
                                     '40~49세':'40대','50~59세':'50대',
                                      '60~69세':'60대','70~79세':'70대'})

In [14]:
df_female = df_female.drop(columns=['80~89세','90~99세','100세 이상'])

In [16]:
df_female['20대이하'] = df_female['0~9세']+df_female['10~19세']

In [19]:
df_female = df_female.drop(columns=['0~9세','10~19세'])

In [21]:
# 남자

In [22]:
df_male = df_male.rename(columns={'20~29세':'20대', '30~39세':'30대',
                                     '40~49세':'40대','50~59세':'50대',
                                      '60~69세':'60대','70~79세':'70대'})

In [23]:
df_male = df_male.drop(columns=['80~89세','90~99세','100세 이상'])

In [24]:
df_male['20대이하'] = df_male['0~9세']+df_male['10~19세']

In [25]:
df_male = df_male.drop(columns=['0~9세','10~19세'])

In [26]:
# 전처리 데이터 저장

In [27]:
df_female.to_excel('서울_인구_여_전처리.xlsx')

In [28]:
df_male.to_excel('서울_인구_남_전처리.xlsx')

### 데이터의 고객군 찾아 외부 통계학 데이터 연결

In [29]:
df1 = pd.read_csv('real_log.csv')

/var/folders/q9/51yx3nc91mq6crjc81y6g1wm0000gn/T/ipykernel_1332/1357759368.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('real_log.csv')

In [30]:
df1

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm,분류,Unnamed: 5
0,0,M430112881,A01000001113,1,롯데백화점,A010039,PD0290,20210101,10,15000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
1,1,M430112881,A01000003148,1,롯데백화점,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
2,2,M430112881,A01000003148,1,롯데백화점,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
3,3,M430112881,A01000004946,1,롯데백화점,A010039,PD0290,20210101,10,19000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
4,4,M506355556,A01000107137,1,롯데백화점,A010032,PD0290,20210101,15,199000.0,1,남성티셔츠,남성의류,남성의류상의,남성의류/상의,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,4381738,M696533418,E06045892016,2,롯데 ON,NaN,PD0520,20211115,0,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381739,4381739,M696533418,E06045892016,2,롯데 ON,NaN,PD0520,20211115,0,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381740,4381740,M111856694,E06045887405,2,롯데 ON,NaN,PD0520,20211118,0,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381741,4381741,M001808316,E06045891296,2,롯데 ON,NaN,PD0520,20211118,0,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN
4381742,4381742,M475857646,E06046013307,2,롯데 ON,NaN,PD0520,20211121,3,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스,렌탈서비스/자동차,NaN

In [33]:
df_female.columns

Index(['행정기관', '여 거주자수', '연령구간인구수', '20대', '30대', '40대', '50대', '60대', '70대',
       '20대이하'],
      dtype='object')

In [38]:
df_female['행정기관'].unique()

array(['서울특별시  ', '서울특별시 서울특별시 종로구 ', '서울특별시 서울특별시 중구 ',
       '서울특별시 서울특별시 용산구 ', '서울특별시 서울특별시 성동구 ', '서울특별시 서울특별시 광진구 ',
       '서울특별시 서울특별시 동대문구 ', '서울특별시 서울특별시 중랑구 ', '서울특별시 서울특별시 성북구 ',
       '서울특별시 서울특별시 강북구 ', '서울특별시 서울특별시 도봉구 ', '서울특별시 서울특별시 노원구 ',
       '서울특별시 서울특별시 은평구 ', '서울특별시 서울특별시 서대문구 ', '서울특별시 서울특별시 마포구 ',
       '서울특별시 서울특별시 양천구 ', '서울특별시 서울특별시 강서구 ', '서울특별시 서울특별시 구로구 ',
       '서울특별시 서울특별시 금천구 ', '서울특별시 서울특별시 영등포구 ', '서울특별시 서울특별시 동작구 ',
       '서울특별시 서울특별시 관악구 ', '서울특별시 서울특별시 서초구 ', '서울특별시 서울특별시 강남구 ',
       '서울특별시 서울특별시 송파구 ', '서울특별시 서울특별시 강동구 '], dtype=object)

In [40]:
df_female[df_female['행정기관'] == '서울특별시 서울특별시 종로구 ']

,행정기관,여 거주자수,연령구간인구수,20대,30대,40대,50대,60대,70대,20대이하
1,서울특별시 서울특별시 종로구,"72,885","72,885","11,725","9,629","10,588","12,012","9,835","6,273","3,4425,188"

In [48]:
df_female

,행정기관,연령구간인구수,20대,30대,40대,50대,60대,70대
0,서울특별시,"4,838,170","733,864","714,593","737,683","752,105","667,710","374,489"
1,서울특별시 서울특별시 종로구,"72,885","11,725","9,629","10,588","12,012","9,835","6,273"
2,서울특별시 서울특별시 중구,"61,507","9,758","9,841","8,248","9,556","8,790","5,439"
3,서울특별시 서울특별시 용산구,"112,243","17,172","18,782","16,641","17,530","14,309","8,523"
4,서울특별시 서울특별시 성동구,"144,984","21,957","23,612","21,323","22,916","18,992","10,988"
5,서울특별시 서울특별시 광진구,"174,240","32,658","27,366","25,282","27,017","22,774","11,778"
6,서울특별시 서울특별시 동대문구,"169,154","28,621","23,663","23,477","25,333","24,149","14,854"
7,서울특별시 서울특별시 중랑구,"194,745","27,380","27,511","26,614","33,731","30,978","16,855"
8,서울특별시 서울특별시 성북구,"220,730","34,032","29,018","33,793","34,535","29,626","18,131"
9,서울특별시 서울특별시 강북구,"151,907","20,812","17,567","20,992","25,791","24,751","16,578"
10,서울특별시 서울특별시 도봉구,"161,531","20,375","19,030","23,001","28,871","26,787","14,772"
11,서울특별시 서울특별시 노원구,"262,960","34,056","31,480","42,447","44,492","37,461","20,903"
12,서울특별시 서울특별시 은평구,"244,036","33,938","33,876","36,971","39,384","35,456","21,390"
13,서울특별시 서울특별시 서대문구,"156,998","25,455","22,162","22,569","24,444","20,518","13,128"
14,서울특별시 서울특별시 마포구,"192,896","33,662","33,265","30,381","27,436","21,458","13,367"
15,서울특별시 서울특별시 양천구,"226,318","28,123","27,966","39,624","37,849","31,068","15,346"
16,서울특별시 서울특별시 강서구,"295,788","46,263","48,246","44,020","43,221","42,269","20,804"
17,서울특별시 서울특별시 구로구,"199,914","27,312","29,789","29,600","31,112","30,117","16,720"
18,서울특별시 서울특별시 금천구,"113,360","18,794","16,228","14,805","19,330","17,424","9,469"
19,서울특별시 서울특별시 영등포구,"188,951","31,369","33,761","26,550","27,091","24,442","14,337"
20,서울특별시 서울특별시 동작구,"197,058","33,449","29,915","28,199","29,558","26,775","16,226"
21,서울특별시 서울특별시 관악구,"239,553","55,441","37,828","30,058","32,578","31,633","19,790"
22,서울특별시 서울특별시 서초구,"211,952","26,827","31,848","39,304","30,821","25,208","13,921"
23,서울특별시 서울특별시 강남구,"273,173","36,740","41,221","51,488","39,884","32,347","17,870"
24,서울특별시 서울특별시 송파구,"337,696","47,162","55,322","54,666","51,574","45,737","20,853"
25,서울특별시 서울특별시 강동구,"233,591","30,783","35,667","37,042","36,039","34,806","16,174"

In [51]:
df_male = df_male.drop(columns='20대이하')

In [52]:
df_male

,행정기관,남 거주자수,연령구간인구수,20대,30대,40대,50대,60대,70대
0,서울특별시,"4,563,718","4,563,718","680,990","713,129","723,062","727,964","595,943","312,209"
1,서울특별시 서울특별시 종로구,"68,632","68,632","10,909","9,590","9,877","12,171","9,769","5,002"
2,서울특별시 서울특별시 중구,"58,241","58,241","8,418","9,807","8,646","9,785","8,686","4,505"
3,서울특별시 서울특별시 용산구,"104,412","104,412","15,285","18,376","16,176","17,156","13,493","6,681"
4,서울특별시 서울특별시 성동구,"137,628","137,628","21,302","22,855","21,419","22,346","18,078","8,803"
5,서울특별시 서울특별시 광진구,"162,207","162,207","28,736","26,965","24,481","25,830","20,596","9,919"
6,서울특별시 서울특별시 동대문구,"164,740","164,740","27,375","25,020","24,889","25,931","22,642","12,198"
7,서울특별시 서울특별시 중랑구,"189,218","189,218","26,523","29,138","28,522","32,772","29,037","14,097"
8,서울특별시 서울특별시 성북구,"205,324","205,324","31,248","29,007","32,840","33,533","26,217","13,959"
9,서울특별시 서울특별시 강북구,"143,952","143,952","19,971","19,246","22,263","24,966","21,702","12,507"
10,서울특별시 서울특별시 도봉구,"152,997","152,997","20,936","19,909","22,665","26,394","23,961","12,507"
11,서울특별시 서울특별시 노원구,"244,164","244,164","35,599","31,237","38,598","41,527","32,500","16,133"
12,서울특별시 서울특별시 은평구,"223,841","223,841","30,991","32,676","36,202","36,505","30,392","16,546"
13,서울특별시 서울특별시 서대문구,"143,771","143,771","23,059","21,692","22,047","23,135","18,367","9,797"
14,서울특별시 서울특별시 마포구,"171,124","171,124","27,246","29,809","28,589","26,275","18,764","9,665"
15,서울특별시 서울특별시 양천구,"217,320","217,320","28,994","27,282","36,206","37,382","28,400","13,583"
16,서울특별시 서울특별시 강서구,"273,968","273,968","39,055","49,022","44,328","40,059","36,186","18,303"
17,서울특별시 서울특별시 구로구,"193,908","193,908","26,216","30,956","31,000","30,402","26,792","15,041"
18,서울특별시 서울특별시 금천구,"115,271","115,271","18,266","20,110","16,430","19,367","16,736","8,359"
19,서울특별시 서울특별시 영등포구,"183,635","183,635","27,059","35,198","28,175","28,057","22,917","12,142"
20,서울특별시 서울특별시 동작구,"184,538","184,538","31,199","30,570","28,337","27,546","22,923","12,922"
21,서울특별시 서울특별시 관악구,"241,371","241,371","52,241","47,024","34,453","33,290","27,539","16,595"
22,서울특별시 서울특별시 서초구,"194,007","194,007","24,773","26,991","34,516","30,370","21,568","12,183"
23,서울특별시 서울특별시 강남구,"250,626","250,626","33,363","35,189","44,182","40,057","27,471","15,893"
24,서울특별시 서울특별시 송파구,"314,104","314,104","42,793","50,514","51,287","48,460","40,416","19,873"
25,서울특별시 서울특별시 강동구,"224,719","224,719","29,433","34,946","36,934","34,648","30,791","14,996"

In [56]:
df_female = df_female.rename(columns={'20대':'남20대','30대':'남30대',
                                     '40대':'남40대','50대':'남50대',
                                     '60대':'남60대','70대':'남70대'})

In [57]:
df_male = df_male.rename(columns={'20대':'남20대','30대':'남30대',
                                  '40대':'남40대','50대':'남50대',
                                  '60대':'남60대','70대':'남70대'})

In [59]:
df_female['행정기관'].unique()

array(['서울특별시  ', '서울특별시 서울특별시 종로구 ', '서울특별시 서울특별시 중구 ',
       '서울특별시 서울특별시 용산구 ', '서울특별시 서울특별시 성동구 ', '서울특별시 서울특별시 광진구 ',
       '서울특별시 서울특별시 동대문구 ', '서울특별시 서울특별시 중랑구 ', '서울특별시 서울특별시 성북구 ',
       '서울특별시 서울특별시 강북구 ', '서울특별시 서울특별시 도봉구 ', '서울특별시 서울특별시 노원구 ',
       '서울특별시 서울특별시 은평구 ', '서울특별시 서울특별시 서대문구 ', '서울특별시 서울특별시 마포구 ',
       '서울특별시 서울특별시 양천구 ', '서울특별시 서울특별시 강서구 ', '서울특별시 서울특별시 구로구 ',
       '서울특별시 서울특별시 금천구 ', '서울특별시 서울특별시 영등포구 ', '서울특별시 서울특별시 동작구 ',
       '서울특별시 서울특별시 관악구 ', '서울특별시 서울특별시 서초구 ', '서울특별시 서울특별시 강남구 ',
       '서울특별시 서울특별시 송파구 ', '서울특별시 서울특별시 강동구 '], dtype=object)

In [60]:
df_female_1 = df_female

In [61]:
df_female_1['행정기관'] = df_female_1['행정기관'].str.replace('서울특별시 ', '')
df_female_1['행정기관'].unique()

array([' ', '종로구 ', '중구 ', '용산구 ', '성동구 ', '광진구 ', '동대문구 ', '중랑구 ',
       '성북구 ', '강북구 ', '도봉구 ', '노원구 ', '은평구 ', '서대문구 ', '마포구 ', '양천구 ',
       '강서구 ', '구로구 ', '금천구 ', '영등포구 ', '동작구 ', '관악구 ', '서초구 ', '강남구 ',
       '송파구 ', '강동구 '], dtype=object)

In [62]:
df_female_1['행정기관'] = df_female_1['행정기관'].str.replace('서울특별시 ', '').str.strip()
df_female_1['행정기관'].unique()

array(['', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [63]:
df_female = df_female_1

In [64]:
df_male['행정기관'] = df_male['행정기관'].str.replace('서울특별시 ', '')

In [65]:
df_male['행정기관'] = df_male['행정기관'].str.replace('서울특별시 ', '').str.strip()

In [66]:
df_male['행정기관'].unique()

array(['', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [71]:
df_male = df_male.drop(df_male.index[0]).reset_index()

In [72]:
df_male

,index,행정기관,남 거주자수,연령구간인구수,남20대,남30대,남40대,남50대,남60대,남70대
0,1,종로구,"68,632","68,632","10,909","9,590","9,877","12,171","9,769","5,002"
1,2,중구,"58,241","58,241","8,418","9,807","8,646","9,785","8,686","4,505"
2,3,용산구,"104,412","104,412","15,285","18,376","16,176","17,156","13,493","6,681"
3,4,성동구,"137,628","137,628","21,302","22,855","21,419","22,346","18,078","8,803"
4,5,광진구,"162,207","162,207","28,736","26,965","24,481","25,830","20,596","9,919"
5,6,동대문구,"164,740","164,740","27,375","25,020","24,889","25,931","22,642","12,198"
6,7,중랑구,"189,218","189,218","26,523","29,138","28,522","32,772","29,037","14,097"
7,8,성북구,"205,324","205,324","31,248","29,007","32,840","33,533","26,217","13,959"
8,9,강북구,"143,952","143,952","19,971","19,246","22,263","24,966","21,702","12,507"
9,10,도봉구,"152,997","152,997","20,936","19,909","22,665","26,394","23,961","12,507"
10,11,노원구,"244,164","244,164","35,599","31,237","38,598","41,527","32,500","16,133"
11,12,은평구,"223,841","223,841","30,991","32,676","36,202","36,505","30,392","16,546"
12,13,서대문구,"143,771","143,771","23,059","21,692","22,047","23,135","18,367","9,797"
13,14,마포구,"171,124","171,124","27,246","29,809","28,589","26,275","18,764","9,665"
14,15,양천구,"217,320","217,320","28,994","27,282","36,206","37,382","28,400","13,583"
15,16,강서구,"273,968","273,968","39,055","49,022","44,328","40,059","36,186","18,303"
16,17,구로구,"193,908","193,908","26,216","30,956","31,000","30,402","26,792","15,041"
17,18,금천구,"115,271","115,271","18,266","20,110","16,430","19,367","16,736","8,359"
18,19,영등포구,"183,635","183,635","27,059","35,198","28,175","28,057","22,917","12,142"
19,20,동작구,"184,538","184,538","31,199","30,570","28,337","27,546","22,923","12,922"
20,21,관악구,"241,371","241,371","52,241","47,024","34,453","33,290","27,539","16,595"
21,22,서초구,"194,007","194,007","24,773","26,991","34,516","30,370","21,568","12,183"
22,23,강남구,"250,626","250,626","33,363","35,189","44,182","40,057","27,471","15,893"
23,24,송파구,"314,104","314,104","42,793","50,514","51,287","48,460","40,416","19,873"
24,25,강동구,"224,719","224,719","29,433","34,946","36,934","34,648","30,791","14,996"

In [74]:
df_male = df_male.drop(columns='index')

In [75]:
df_female = df_female.drop(df_male.index[0]).reset_index()

In [76]:
df_female = df_female.drop(columns='index')

----

In [80]:
df_male = df_male.drop(columns='남 거주자수')

In [81]:
df_male

    행정기관  연령구간인구수    남20대    남30대    남40대    남50대    남60대    남70대
0    종로구   68,632  10,909   9,590   9,877  12,171   9,769   5,002
1     중구   58,241   8,418   9,807   8,646   9,785   8,686   4,505
2    용산구  104,412  15,285  18,376  16,176  17,156  13,493   6,681
3    성동구  137,628  21,302  22,855  21,419  22,346  18,078   8,803
4    광진구  162,207  28,736  26,965  24,481  25,830  20,596   9,919
5   동대문구  164,740  27,375  25,020  24,889  25,931  22,642  12,198
6    중랑구  189,218  26,523  29,138  28,522  32,772  29,037  14,097
7    성북구  205,324  31,248  29,007  32,840  33,533  26,217  13,959
8    강북구  143,952  19,971  19,246  22,263  24,966  21,702  12,507
9    도봉구  152,997  20,936  19,909  22,665  26,394  23,961  12,507
10   노원구  244,164  35,599  31,237  38,598  41,527  32,500  16,133
11   은평구  223,841  30,991  32,676  36,202  36,505  30,392  16,546
12  서대문구  143,771  23,059  21,692  22,047  23,135  18,367   9,797
13   마포구  171,124  27,246  29,809  28,589  26,275  18,764   9,665
14   양천구  217,320  28,994  27,282  36,206  37,382  28,400  13,583
15   강서구  273,968  39,055  49,022  44,328  40,059  36,186  18,303
16   구로구  193,908  26,216  30,956  31,000  30,402  26,792  15,041
17   금천구  115,271  18,266  20,110  16,430  19,367  16,736   8,359
18  영등포구  183,635  27,059  35,198  28,175  28,057  22,917  12,142
19   동작구  184,538  31,199  30,570  28,337  27,546  22,923  12,922
20   관악구  241,371  52,241  47,024  34,453  33,290  27,539  16,595
21   서초구  194,007  24,773  26,991  34,516  30,370  21,568  12,183
22   강남구  250,626  33,363  35,189  44,182  40,057  27,471  15,893
23   송파구  314,104  42,793  50,514  51,287  48,460  40,416  19,873
24   강동구  224,719  29,433  34,946  36,934  34,648  30,791  14,996

In [78]:
df_female

    행정기관  연령구간인구수    남20대    남30대    남40대    남50대    남60대    남70대
0    종로구   72,885  11,725   9,629  10,588  12,012   9,835   6,273
1     중구   61,507   9,758   9,841   8,248   9,556   8,790   5,439
2    용산구  112,243  17,172  18,782  16,641  17,530  14,309   8,523
3    성동구  144,984  21,957  23,612  21,323  22,916  18,992  10,988
4    광진구  174,240  32,658  27,366  25,282  27,017  22,774  11,778
5   동대문구  169,154  28,621  23,663  23,477  25,333  24,149  14,854
6    중랑구  194,745  27,380  27,511  26,614  33,731  30,978  16,855
7    성북구  220,730  34,032  29,018  33,793  34,535  29,626  18,131
8    강북구  151,907  20,812  17,567  20,992  25,791  24,751  16,578
9    도봉구  161,531  20,375  19,030  23,001  28,871  26,787  14,772
10   노원구  262,960  34,056  31,480  42,447  44,492  37,461  20,903
11   은평구  244,036  33,938  33,876  36,971  39,384  35,456  21,390
12  서대문구  156,998  25,455  22,162  22,569  24,444  20,518  13,128
13   마포구  192,896  33,662  33,265  30,381  27,436  21,458  13,367
14   양천구  226,318  28,123  27,966  39,624  37,849  31,068  15,346
15   강서구  295,788  46,263  48,246  44,020  43,221  42,269  20,804
16   구로구  199,914  27,312  29,789  29,600  31,112  30,117  16,720
17   금천구  113,360  18,794  16,228  14,805  19,330  17,424   9,469
18  영등포구  188,951  31,369  33,761  26,550  27,091  24,442  14,337
19   동작구  197,058  33,449  29,915  28,199  29,558  26,775  16,226
20   관악구  239,553  55,441  37,828  30,058  32,578  31,633  19,790
21   서초구  211,952  26,827  31,848  39,304  30,821  25,208  13,921
22   강남구  273,173  36,740  41,221  51,488  39,884  32,347  17,870
23   송파구  337,696  47,162  55,322  54,666  51,574  45,737  20,853
24   강동구  233,591  30,783  35,667  37,042  36,039  34,806  16,174

In [83]:
df_female = df_female.rename(columns={'남20대':'여20대','남30대':'여30대',
                                     '남40대':'여40대', '남50대':'여50대',
                                     '남60대':'여60대', '남70대':'여70대'})

In [86]:
df = pd.merge(df_male, df_female, on=['행정기관'], how='inner')

In [89]:
df = df.drop(columns=['연령구간인구수_x','연령구간인구수_y'])

In [155]:
df

,행정기관,남20대,남30대,남40대,남50대,남60대,남70대,여20대,여30대,여40대,여50대,여60대,여70대
0,종로구,"10,909","9,590","9,877","12,171","9,769","5,002","11,725","9,629","10,588","12,012","9,835","6,273"
1,중구,"8,418","9,807","8,646","9,785","8,686","4,505","9,758","9,841","8,248","9,556","8,790","5,439"
2,용산구,"15,285","18,376","16,176","17,156","13,493","6,681","17,172","18,782","16,641","17,530","14,309","8,523"
3,성동구,"21,302","22,855","21,419","22,346","18,078","8,803","21,957","23,612","21,323","22,916","18,992","10,988"
4,광진구,"28,736","26,965","24,481","25,830","20,596","9,919","32,658","27,366","25,282","27,017","22,774","11,778"
5,동대문구,"27,375","25,020","24,889","25,931","22,642","12,198","28,621","23,663","23,477","25,333","24,149","14,854"
6,중랑구,"26,523","29,138","28,522","32,772","29,037","14,097","27,380","27,511","26,614","33,731","30,978","16,855"
7,성북구,"31,248","29,007","32,840","33,533","26,217","13,959","34,032","29,018","33,793","34,535","29,626","18,131"
8,강북구,"19,971","19,246","22,263","24,966","21,702","12,507","20,812","17,567","20,992","25,791","24,751","16,578"
9,도봉구,"20,936","19,909","22,665","26,394","23,961","12,507","20,375","19,030","23,001","28,871","26,787","14,772"
10,노원구,"35,599","31,237","38,598","41,527","32,500","16,133","34,056","31,480","42,447","44,492","37,461","20,903"
11,은평구,"30,991","32,676","36,202","36,505","30,392","16,546","33,938","33,876","36,971","39,384","35,456","21,390"
12,서대문구,"23,059","21,692","22,047","23,135","18,367","9,797","25,455","22,162","22,569","24,444","20,518","13,128"
13,마포구,"27,246","29,809","28,589","26,275","18,764","9,665","33,662","33,265","30,381","27,436","21,458","13,367"
14,양천구,"28,994","27,282","36,206","37,382","28,400","13,583","28,123","27,966","39,624","37,849","31,068","15,346"
15,강서구,"39,055","49,022","44,328","40,059","36,186","18,303","46,263","48,246","44,020","43,221","42,269","20,804"
16,구로구,"26,216","30,956","31,000","30,402","26,792","15,041","27,312","29,789","29,600","31,112","30,117","16,720"
17,금천구,"18,266","20,110","16,430","19,367","16,736","8,359","18,794","16,228","14,805","19,330","17,424","9,469"
18,영등포구,"27,059","35,198","28,175","28,057","22,917","12,142","31,369","33,761","26,550","27,091","24,442","14,337"
19,동작구,"31,199","30,570","28,337","27,546","22,923","12,922","33,449","29,915","28,199","29,558","26,775","16,226"
20,관악구,"52,241","47,024","34,453","33,290","27,539","16,595","55,441","37,828","30,058","32,578","31,633","19,790"
21,서초구,"24,773","26,991","34,516","30,370","21,568","12,183","26,827","31,848","39,304","30,821","25,208","13,921"
22,강남구,"33,363","35,189","44,182","40,057","27,471","15,893","36,740","41,221","51,488","39,884","32,347","17,870"
23,송파구,"42,793","50,514","51,287","48,460","40,416","19,873","47,162","55,322","54,666","51,574","45,737","20,853"
24,강동구,"29,433","34,946","36,934","34,648","30,791","14,996","30,783","35,667","37,042","36,039","34,806","16,174"

In [156]:
df.to_excel('서울시_성별_연령별_통계_찐.xlsx')

-----

In [157]:
df1 = df.melt(id_vars='행정기관')

In [158]:
df1['variable']

0      남20대
1      남20대
2      남20대
3      남20대
4      남20대
       ...
295    여70대
296    여70대
297    여70대
298    여70대
299    여70대
Name: variable, Length: 300, dtype: object

In [161]:
df1['variable']

0      남20대
1      남20대
2      남20대
3      남20대
4      남20대
       ...
295    여70대
296    여70대
297    여70대
298    여70대
299    여70대
Name: variable, Length: 300, dtype: object

In [163]:
df1['성별'] = df1['variable'].str[0]

In [166]:
df1['연령대'] = df1['variable'].str[1:]

In [168]:
df1 = df1.drop(columns='variable')

In [170]:
df1 = df1.rename(columns={'value':'인구수'})

In [172]:
df1.to_csv('서울시_인구통계_레알찐.csv')

----

In [104]:
df5_1 = df5[df5['zon_hlv']=='Z17']

In [105]:
df2

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1
1,M646853852,A01000002265,1,A01,A010025,PD1369,20210101,10,79700.0,1
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
3,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1
4,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1
...,...,...,...,...,...,...,...,...,...,...
4381738,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381739,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381740,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381741,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1
4381742,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1

In [107]:
df5_2 = pd.merge(df2, df5_1, on='br_c', how='inner')

In [ ]:
df5_2.groupby('zon_mcls')['cust'].sum()

In [116]:
unique_customers = df5_2.drop_duplicates(subset=['cust'])  # 중복된 고객을 제거한 데이터프레임 생성
grouped_df = unique_customers.groupby('zon_mcls')
total_customers = grouped_df.size()  # 각 그룹의 크기(고객 수)를 계산

In [123]:
df_cust = total_customers.reset_index()

In [125]:
df_cust.sort_values(by=0, ascending=False)

   zon_mcls     0
17   Z17018  4960
23   Z17024  1362
3    Z17004  1214
19   Z17020  1034
0    Z17001   768
8    Z17009   529
10   Z17011   521
21   Z17022   324
5    Z17006   273
2    Z17003   253
20   Z17021   236
7    Z17008   230
14   Z17015   197
4    Z17005   167
12   Z17013    81
13   Z17014    50
6    Z17007    47
15   Z17016    45
9    Z17010    40
16   Z17017    29
18   Z17019    29
22   Z17023    27
1    Z17002    26
11   Z17012    18
24   Z17025    18

In [131]:
df_seoul = df5[df5['zon_hlv']=='Z17']

In [132]:
mapping = {
    'Z17018': '송파구',
    'Z17001': '강서구',
    'Z17013': '관악구',
    'Z17004': '강남구',
    'Z17024': '노원구',
    'Z17020': '은평구',
    'Z17015': '강동구',
    'Z17005': '양천구',
    'Z17009': '성북구',
    'Z17011': '구로구',
    'Z17021': '중랑구',
    'Z17017': '서초구',
    'Z17022': '동작구',
    'Z17023': '영등포구',
    'Z17002': '마포구',
    'Z17006': '광진구',
    'Z17014': '동대문구',
    'Z17012': '도봉구',
    'Z17003': '강북구',
    'Z17007': '서대문구',
    'Z17008': '성동구',
    'Z17016': '금천구',
    'Z17025': '용산구',
    'Z17019': '종로구',
    'Z17010': '중구'
}

In [133]:
df_seoul['행정기관'] = df_seoul['zon_mcls'].map(mapping)

/var/folders/q9/51yx3nc91mq6crjc81y6g1wm0000gn/T/ipykernel_1332/3709657314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul['행정기관'] = df_seoul['zon_mcls'].map(mapping)

In [134]:
df_seoul

         br_c cop_c zon_hlv zon_mcls  행정기관
0     A010001   A01     Z17   Z17024   노원구
1     A010002   A01     Z17   Z17018   송파구
2     A010003   A01     Z17   Z17011   구로구
4     A010005   A01     Z17   Z17005   양천구
6     A010007   A01     Z17   Z17001   강서구
...       ...   ...     ...      ...   ...
8792  E010028   E01     Z17   Z17008   성동구
8799  E010035   E01     Z17   Z17013   관악구
8802  E010039   E01     Z17   Z17007  서대문구
8803  E010040   E01     Z17   Z17024   노원구
8805  E010042   E01     Z17   Z17021   중랑구

[1723 rows x 5 columns]

In [137]:
df_seoul_log = pd.merge(df2, df_seoul, on=['br_c','cop_c'], how='inner')

In [140]:
df_seoul_log.to_csv('서울_행정기관별_log.csv')

In [143]:
df_seoul_log.head(3)

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,zon_hlv,zon_mcls,행정기관
0,M174599398,A01000029832,1,A01,A010002,PD1689,20210101,12,11100.0,3,Z17,Z17018,송파구
1,M174599398,A01000029832,1,A01,A010002,PD1255,20210101,12,8400.0,3,Z17,Z17018,송파구
2,M134888191,A01000275788,1,A01,A010002,PD1699,20210101,18,53900.0,1,Z17,Z17018,송파구

In [147]:
dfdf = pd.read_excel('product.xlsx')

In [148]:
dfdf.to_csv('product.csv')

In [150]:
dfdf = dfdf.drop(columns='Unnamed: 0')

In [152]:
dfdf.to_csv('product_real.csv')

In [154]:
pd.read_csv('merged_data_0430.csv')

,Unnamed: 0,고객번호,성별,연령대,지역,영수증번호,채널,제휴사,점포코드,물품코드,구매일시,구매시각,구매가격,구매수량,물품명,대분류,중분류,분류
0,0,M000034966,여성,40대,세종특별자치시,A02357420240,1,롯데마트,A020116,PD0952,2021-03-28,21,59800.0,1,여성베스트,여성의류,여성의류상의,여성의류/상의
1,1,M000034966,여성,40대,세종특별자치시,A02357421026,1,롯데마트,A020116,PD0952,2021-03-28,21,22800.0,1,여성베스트,여성의류,여성의류상의,여성의류/상의
2,2,M000034966,여성,40대,세종특별자치시,A02358228482,1,롯데마트,A020116,PD0952,2021-06-29,13,65700.0,1,여성베스트,여성의류,여성의류상의,여성의류/상의
3,3,M000034966,여성,40대,세종특별자치시,A01016688590,1,롯데백화점,A010045,PD0796,2021-01-16,18,100.0,1,스포츠아대/헤어밴드,스포츠패션,스포츠잡화,스포츠잡화
4,4,M000034966,여성,40대,세종특별자치시,A01016688590,1,롯데백화점,A010045,PD0777,2021-01-16,18,59000.0,1,남성런닝/트레이닝화,스포츠패션,남성스포츠화,남성신발/스포츠
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,4381738,M999962961,여성,50대,서울특별시,A03073005783,1,롯데슈퍼,A030118,PD0355,2021-09-06,16,11900.0,1,냉장치킨족발류,냉장식품,냉장간편식,냉장간편식
4381739,4381739,M999962961,여성,50대,서울특별시,A02034710612,1,롯데마트,A020006,PD0983,2021-12-30,16,8000.0,1,기타이용권,여행/레저서비스,이용권/입장권,기타이용권
4381740,4381740,M999962961,여성,50대,서울특별시,A03071991818,1,롯데슈퍼,A030118,PD0322,2021-03-10,20,10990.0,1,냉동부침,냉동식품,냉동간편식,냉동간편식
4381741,4381741,M999962961,여성,50대,서울특별시,A03071935135,1,롯데슈퍼,A030118,PD0357,2021-02-26,20,6990.0,1,냉장안주,냉장식품,냉장간편식,냉장간편식/안주
4381742,4381742,M999962961,여성,50대,서울특별시,A03072652674,1,롯데슈퍼,A030118,PD0743,2021-07-14,16,3990.0,1,대합,수산물,조개류,수산물

In [412]:
dfdf = pd.read_csv('product_real.csv')

In [413]:
dfdf.to_excel('product_real.xlsx')

## 크롤링

In [173]:
# 두부, 라면, 콩나물, 스낵, 계란, 바나나, 어묵, 우유, 돼지고기, 국산쇠고기

In [175]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By

In [176]:
driver = webdriver.Chrome()
driver.get('https://search.naver.com/search.naver?where=news&ie=utf8&sm=nws_hty&query=%EB%91%90%EB%B6%80')

In [ ]:
titles = driver.find_elements(By.XPATH, "//p[@class='prod_name']")

In [177]:
driver.quit()

In [180]:
import time

In [384]:
def news():
    from wordcloud import WordCloud
    import matplotlib.pyplot as plt
    product=input('상품을 입력하세요:')
    driver = webdriver.Chrome()
    driver.get('https://search.naver.com/search.naver?where=news&query='+product+'&sm=tab_opt&sort=0&photo=0&field=0&pd=0&ds=&de=&docid=&related=0&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so%3Ar%2Cp%3Aall&is_sug_officeid=0&office_category=0&service_area=0')
    news_titles_s = []
    # 스크롤을 이용하여 뉴스 기사 더 불러오기
    scrolls = 0
    while len(news_titles_s) < 500:
        # 스크롤 실행
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(2)  # 스크롤 후 페이지가 완전히 로드될 때까지 대기
        # 뉴스 기사 제목 찾기
        news_elements = driver.find_elements(By.CSS_SELECTOR, ".news_tit")
        for news_element in news_elements:
            title = news_element.text.strip()
            news_titles_s.append(title)
            # 10개 이상의 뉴스 기사 제목을 수집했을 때 반복문 종료
            if len(news_titles_s) >= 500:
                break
        # 스크롤 횟수 증가
        scrolls += 1
        # 스크롤 횟수가 10번 이상인 경우 더 이상 뉴스 기사를 불러오지 않음
        if scrolls >= 100:
            break
    df_title = pd.DataFrame(data={'제목':news_titles_s})
    driver.quit()
    df_title.to_csv('titles_9.csv')
    print(df_title)

In [385]:
news()

상품을 입력하세요:돼지고기
                                              제목
0                    돼지고기 대신 ‘콩고기’…전국 최초 ‘포용 급식’
1                    돼지고기 대신 ‘콩고기’…전국 최초 ‘포용 급식’
2        '홀몸노인에 전해주세요' 대한한돈 밀양시지부, 돼지고기 330kg 기탁
3               '거의 다 비계' 제주 흑돼지고기 논란에 사장 직접 나섰다
4                         이마트, 한우 반값·돼지고기 40% 할인
..                                           ...
495                 제천 신일번지정육점, 드림스타트에 돼지고기 '기탁'
496                         제주 돼지고기 판매 인증점 신청·접수
497          돼지고기가 ‘기후친화적’? 덴마크 최대 육가공업체 그린워싱 인정
498  [백세시대 간강요리] 몸이 원하는 삼삼한 밥상 (84) 돼지고기 포두부 파스타
499     한돈자조금 "고기 소비량 세계 최고...즐거움 있는 곳에 언제나 한돈!"

[500 rows x 1 columns]

In [401]:
# 두부, 라면, 콩나물, 스낵, 계란, 바나나, 어묵, 우유, 돼지고기,  
# 국산쇠고기 => 삭제

In [292]:
df_title = pd.read_csv('titles_1.csv')

In [256]:
#df10 = pd.read_csv('titles_10.csv')

In [293]:
df_title['분류'] = '두부'

In [259]:
df_titles = pd.concat([df_title, df2, df3, df4, df5, df6, df7, df8, df9, df10])

In [260]:
df_titles = df_titles.reset_index()

In [261]:
df_titles

     index  Unnamed: 0                                              제목  분류
0        0           0                      [전지영 더봄 ] 건강식품 두부의 글로벌 레시피  두부
1        1           1  [헬씨인터뷰] 장이슬 풀무원 지구식단 PM "두부·두유면 제품 다양화해 선택지...  두부
2        2           2                           나만의 비밀공간, 전 세계 가성비 식당  두부
3        3           3                    죽어도 안 빠지는 살, 중년을 위한 최적의 다이어트  두부
4        4           4             국산 두부·팥 들어간 '러쉬 화장품' 늘어난다…농식품부와 MOU  두부
..     ...         ...                                             ...  ..
995     95          95                       "한우반값·계란한판 4,980원에 가져가세요"  한우
996     96          96                    축산물 가격 안정 위해 매월 한우·한돈 할인전 개최  한우
997     97          97                    한우자조금, ‘가정의달 맞이 온라인 한우장터’ 개최  한우
998     98          98                         가정의 달 맞이 한우랑 브랜드랑 축제 개최  한우
999     99          99                       한우랑 브랜드랑, 내일부터 사흘간 제천서 열려  한우

[1000 rows x 4 columns]

In [262]:
df_titles = df_titles.drop(columns=['index','Unnamed: 0'])

In [264]:
import konlpy

In [265]:
okt = konlpy.tag.Okt()

### 두부...

In [427]:
df_pos = pd.DataFrame()
for i in range(0, len(df_title['제목'])):
    text1 = df_title['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

In [428]:
cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [429]:
stopword_list = ['음식', '두부','편','스토','맛집','푸드']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [305]:
df_dubu = df_N1['형태소'].value_counts().reset_index()

In [415]:
df_dubu.head(30)

     형태소  count   분류
0     건강     46  두부류
1     김치     39  두부류
2     요리     39  두부류
3     밥상     36  두부류
4    류수영     35  두부류
5    레시피     34  두부류
6      맛     32  두부류
7    한국인     30  두부류
8     면역     25  두부류
9     위치     24  두부류
10     살     24  두부류
11    로컬     23  두부류
12    식품     21  두부류
13  두부김치     20  두부류
14    기행     19  두부류
15  사찰음식     19  두부류
16    대표     18  두부류
17    대패     18  두부류
18    개막     18  두부류
19    축제     18  두부류
20    자리     18  두부류
21    토속     18  두부류
22    정선     18  두부류
23    식객     18  두부류
24    구이     18  두부류
25    꼬치     18  두부류
26   강원도     18  두부류
27    김점     18  두부류
28    삼겹     18  두부류
29     위     18  두부류

In [431]:
df_dubu

     형태소  count   분류
0     건강     46  두부류
1     김치     39  두부류
2     요리     39  두부류
3     밥상     36  두부류
4    류수영     35  두부류
..   ...    ...  ...
474  박세리      1  두부류
475    찌      1  두부류
476    인      1  두부류
477   메뉴      1  두부류
478    송      1  두부류

[479 rows x 3 columns]

In [423]:
from wordcloud import WordCloud

In [432]:
wc = WordCloud(background_color='white',
             width=800, height=600,
             font_path='Malgun.ttf').generate(' '.join(df_N1['형태소']))

OSError: cannot open resource

### 라면

In [311]:
df2 = pd.read_csv('titles_2.csv')

In [312]:
df2['분류'] = '라면'

In [318]:
df_pos = pd.DataFrame()
for i in range(0, len(df2['제목'])):
    text1 = df2['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

In [319]:
cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [322]:
stopword_list = ['라면','기부','물','이','위','농','이제','동']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [323]:
df_N1['형태소'].value_counts().reset_index()

      형태소  count
0     컵라면     71
1      박스     44
2      수출     37
3      식품     37
4      기탁     34
5      불닭     32
6      세계     31
7      김치     30
8    짜장라면     29
9      인기     27
10  불닭볶음면     26
11      불     26
12     남성     23
13     김해     22
14   짜파게티     20
15     뉴스     18
16    김명준     18
17     검거     18
18     판다     18
19     거리     18
20     도주     18
21    파이터     18
22      회     18
23     한정     17
24     감독     17
25    허진호     17
26     치즈     17
27     갈래     17
28    짜장면     17
29    화장품     16

In [324]:
df_ramen = df_N1['형태소'].value_counts().reset_index()

### 콩나물

In [327]:
df3 = pd.read_csv('titles_3.csv')

In [328]:
df3['분류'] = '콩나물'

In [329]:
df_pos = pd.DataFrame()
for i in range(0, len(df3['제목'])):
    text1 = df3['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

In [330]:
cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [334]:
stopword_list = ['콩나물','회','편','위치','창','스토']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [335]:
df_N1['형태소'].value_counts().reset_index().head(30)

       형태소  count
0       맛집    106
1   생방송투데이     47
2       오늘     44
3       시루     42
4      생방송     41
5       뼈찜     36
6      떡볶이     36
7       공항     31
8      브랜드     27
9       사업     26
10      저녁     26
11      가래     26
12     레시피     26
13      할인     23
14      노인     23
15     류수영     22
16      인천     22
17      곱창     21
18      요리     20
19      수원     18
20      소득     18
21      소개     18
22     장애인     18
23      의대     18
24      매출     18
25       연     18
26    광역버스     18
27      용인     18
28      김해     17
29       등     17

In [336]:
df_kongnamul = df_N1['형태소'].value_counts().reset_index()

### 스낵

In [339]:
df4 = pd.read_csv('titles_4.csv')

In [340]:
df4['분류'] = '스낵'

In [341]:
df_pos = pd.DataFrame()
for i in range(0, len(df4['제목'])):
    text1 = df4['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [346]:
stopword_list = ['스낵','종','홀','배','물','연','주자']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [347]:
df_N1['형태소'].value_counts().reset_index().head(30)

     형태소  count
0    꼬북칩    155
1    오리온    140
2    편의점     94
3     공장     89
4     미국     86
5     특화     82
6    크라운     72
7     제과     72
8     인기     71
9     출시     62
10    오픈     60
11    푸드     53
12    인천     45
13    아산     45
14  국제공항     45
15    세대     43
16    돌풍     35
17    생산     34
18    대표     32
19    국내     32
20   풀무원     31
21    매출     28
22    전문     27
23    신축     27
24   니들스     26
25    식품     26
26    웅진     26
27    태국     25
28    라면     24
29    과자     24

In [348]:
df_snack = df_N1['형태소'].value_counts().reset_index()

## 계란

In [351]:
df5 = pd.read_csv('titles_5.csv')

In [352]:
df_pos = pd.DataFrame()
for i in range(0, len(df5['제목'])):
    text1 = df5['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [355]:
stopword_list = ['계란','회','개','밥','위','일','안','부','지원','취약','출범','기']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [354]:
df_N1['형태소'].value_counts().reset_index().head(30)

    형태소  count
0    가격     71
1    산지     48
2    발표     39
3    김밥     39
4    산업     34
5     회     28
6    협회     27
7     개     26
8     밥     25
9     위     24
10  권역별     24
11    일     24
12   슈퍼     22
13  축산물     22
14    안     22
15  신태용     22
16   지원     20
17    부     18
18   취약     18
19   출범     18
20    제     18
21   계층     18
22   집행     18
23    기     18
24   반값     17
25   한우     17
26   오늘     17
27   유통     17
28   상승     17
29   물가     17

In [356]:
df_egg = df_N1['형태소'].value_counts().reset_index()

## 바나나

In [359]:
df6 = pd.read_csv('titles_6.csv')

In [360]:
df_pos = pd.DataFrame()
for i in range(0, len(df6['제목'])):
    text1 = df6['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [363]:
stopword_list = ['바나나','생','이유']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [364]:
df_N1['형태소'].value_counts().reset_index().head(30)

     형태소  count
0     출시     85
1     나비     63
2     축제     48
3     함평     46
4     사과     38
5     껍질     36
6    보톡스     36
7     포토     34
8     망고     34
9     과일     28
10    공개     28
11    천연     27
12    빙수     24
13    체험     23
14    수입     23
15    과자     23
16   케이크     23
17     맛     22
18    대상     19
19   코리아     19
20    공짜     18
21    역대     18
22   콜라보     18
23  탐앤탐스     18
24    행사     18
25    빵빵     17
26    인기     17
27    구슬     17
28    다트     17
29   아이스     17

In [365]:
df_banana = df_N1['형태소'].value_counts().reset_index()

### 어묵

In [368]:
df7 = pd.read_csv('titles_7.csv')

In [369]:
df_pos = pd.DataFrame()
for i in range(0, len(df7['제목'])):
    text1 = df7['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [372]:
stopword_list = ['어묵','스토','편','오늘','뭐','워홈','초']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [373]:
df_N1['형태소'].value_counts().reset_index().head(30)

     형태소  count
0    떡볶이     61
1    양지은     50
2     부산     47
3     출시     46
4    레시피     45
5     옥돔     45
6     꼬치     44
7     공장     43
8    류수영     43
9     김밥     39
10    가공     38
11    목포     38
12    볶이     36
13    공개     36
14    논란     34
15    축제     33
16    푸드     32
17   바가지     27
18    개최     27
19  치과의사     26
20    조례     23
21    남편     23
22    모노     23
23    착공     23
24     등     21
25    신상     20
26    포차     19
27    사업     18
28    주산     18
29    제조     18

In [374]:
df_oden = df_N1['형태소'].value_counts().reset_index()

### 우유

In [377]:
df8 = pd.read_csv('titles_8.csv')

In [378]:
df_pos = pd.DataFrame()
for i in range(0, len(df8['제목'])):
    text1 = df8['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [381]:
stopword_list = ['우유','때','개','가지','등','농','종']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [382]:
df_N1['형태소'].value_counts().reset_index().head(30)

        형태소  count
0        서울    104
1        출시     43
2         빵     33
3        젖소     33
4        커피     29
5        산업     28
6      매일유업     28
7        유통     27
8        확인     26
9        아침     25
10       포토     24
11       소화     23
12     조류독감     23
13       확산     19
14       협업     18
15       기탁     18
16       시설     18
17      아동복     18
18       풍년     18
19       공복     18
20       공개     18
21     협동조합     17
22      판매량     17
23       훈장     16
24       음료     16
25       계장     16
26      한인수     16
27       표기     16
28       석탑     16
29  조류인플루엔자     15

In [383]:
df_milk = df_N1['형태소'].value_counts().reset_index()

## 돼지고기

In [386]:
df9 = pd.read_csv('titles_9.csv')

In [387]:
df_pos = pd.DataFrame()
for i in range(0, len(df9['제목'])):
    text1 = df9['제목'][i]
    df_pos = pd.concat([df_pos, pd.DataFrame(okt.pos(text1))])
    
df_pos1 = df_pos.rename(columns={0:'형태소', 1:'품사'})

cond1 = (df_pos1['품사']=='Noun')
df_N = df_pos1.loc[cond1]

In [390]:
stopword_list = ['돼지고기','달','점','대신','곳']
cond1 = (df_N['형태소'].isin(stopword_list))
df_N1 = df_N.loc[~cond1]

In [391]:
df_N1['형태소'].value_counts().reset_index().head(30)

    형태소  count
0    기탁     68
1    제주     66
2    오늘     55
3    돼지     52
4    맛집     51
5     돈     46
6   불고기     40
7   삼겹살     35
8   밀양시     33
9    급식     28
10   숙성     27
11   판매     27
12   비계     24
13   가공     23
14   저녁     23
15    소     23
16    맛     23
17   주산     23
18   상승     22
19  생방송     22
20  감칠맛     21
21   메뉴     21
22   인증     20
23   양념     20
24   최대     19
25   유통     18
26   면역     18
27   국악     18
28   소녀     18
29  구민정     18

In [392]:
df_pork = df_N1['형태소'].value_counts().reset_index()

### 모아ㅏㅏㅏㅏㅏㅏㅏㅏㅏ

In [394]:
# df_dubu  df_ramen  df_kongnamul   df_snack   df_egg   df_banana   df_oden   df_milk   df_pork

In [405]:
df_dubu['분류'] = '두부류'
df_ramen['분류'] = '국물봉지라면'
df_kongnamul['분류'] = '콩나물'
df_snack['분류'] = '일반스낵'
df_egg['분류'] = '가공계란'
df_banana['분류'] = '바나나'
df_oden['분류'] = '어묵'
df_milk['분류'] = '가공우유'
df_pork['분류'] = '국산돼지삼겹살'

In [406]:
df_wordcloud = pd.concat([df_dubu, df_ramen,df_kongnamul, df_snack,df_egg,df_banana,
                          df_oden,df_milk, df_pork])

In [407]:
df_wordcloud.to_csv('식료품_단어_빈도_수정2.csv')

In [411]:
df_wordcloud.to_excel('식료품_단어_빈도_수정2.xlsx')

In [400]:
df_wordcloud

     형태소  count    분류
0     건강     46    두부
1     김치     39    두부
2     요리     39    두부
3     밥상     36    두부
4    류수영     35    두부
..   ...    ...   ...
380   자세      1  돼지고기
381   고사      1  돼지고기
382   소상      1  돼지고기
383   공인      1  돼지고기
384   카페      1  돼지고기

[3738 rows x 3 columns]

In [410]:
df_egg['count'].describe()

count    471.000000
mean       6.940552
std        5.987635
min        1.000000
25%        3.000000
50%        7.000000
75%        9.000000
max       71.000000
Name: count, dtype: float64